@import './node_modules/@thumbtack/thumbprint-tokens/dist/scss/_index';
@import './node_modules/@thumbtack/tp-ui-core-mixin/_index';

.grid {
    margin-left: -16px !important;
    display: flex !important;
    flex-wrap: wrap !important;
}

.grid > * {
    padding-left: 16px !important;
    width: 100% !important;
}

.grid-wide {
    margin-left: -32px !important;
}

.grid-wide > * {
    padding-left: 32px !important;
}

.grid-flush {
    margin-left: 0 !important;
}

.grid-flush > * {
    padding-left: 0 !important;
}

.col-1 {
    width: 8.333333% !important;
}

.col-2 {
    width: 16.666666% !important;
}

.col-3 {
    width: 25% !important;
}

.col-4 {
    width: 33.333333% !important;
}

.col-5 {
    width: 41.666666% !important;
}

.col-6 {
    width: 50% !important;
}

.col-7 {
    width: 58.333333 !important;
}

.col-8 {
    width: 66.666666% !important;
}

.col-9 {
    width: 75% !important;
}

.col-10 {
    width: 83.333333% !important;
}

.col-11 {
    width: 91.666666% !important;
}

.col-12 {
    width: 100% !important;
}

@include tp-respond-above($tp-breakpoint__small) {
    .s\:grid {
        margin-left: -16px !important;
        display: flex !important;
        flex-wrap: wrap !important;
    }

    .s\:grid > * {
        padding-left: 16px !important;
        width: 100% !important;
    }

    .s\:grid-wide {
        margin-left: -32px !important;
    }

    .s\:grid-wide > * {
        padding-left: 32px !important;
    }

    .s\:grid-flush {
        margin-left: 0 !important;
    }

    .s\:grid-flush > * {
        padding-left: 0 !important;
    }

    .s\:col-1 {
        width: 8.333333% !important;
    }

    .s\:col-2 {
        width: 16.666666% !important;
    }

    .s\:col-3 {
        width: 25% !important;
    }

    .s\:col-4 {
        width: 33.333333% !important;
    }

    .s\:col-5 {
        width: 41.666666% !important;
    }

    .s\:col-6 {
        width: 50% !important;
    }

    .s\:col-7 {
        width: 58.333333 !important;
    }

    .s\:col-8 {
        width: 66.666666% !important;
    }

    .s\:col-9 {
        width: 75% !important;
    }

    .s\:col-10 {
        width: 83.333333% !important;
    }

    .s\:col-11 {
        width: 91.666666% !important;
    }

    .s\:col-12 {
        width: 100% !important;
    }
}

@include tp-respond-above($tp-breakpoint__medium) {
    .m\:grid {
        margin-left: -16px !important;
        display: flex !important;
        flex-wrap: wrap !important;
    }

    .m\:grid > * {
        padding-left: 16px !important;
        width: 100% !important;
    }

    .m\:grid-wide {
        margin-left: -32px !important;
    }

    .m\:grid-wide > * {
        padding-left: 32px !important;
    }

    .m\:grid-flush {
        margin-left: 0 !important;
    }

    .m\:grid-flush > * {
        padding-left: 0 !important;
    }

    .m\:col-1 {
        width: 8.333333% !important;
    }

    .m\:col-2 {
        width: 16.666666% !important;
    }

    .m\:col-3 {
        width: 25% !important;
    }

    .m\:col-4 {
        width: 33.333333% !important;
    }

    .m\:col-5 {
        width: 41.666666% !important;
    }

    .m\:col-6 {
        width: 50% !important;
    }

    .m\:col-7 {
        width: 58.333333 !important;
    }

    .m\:col-8 {
        width: 66.666666% !important;
    }

    .m\:col-9 {
        width: 75% !important;
    }

    .m\:col-10 {
        width: 83.333333% !important;
    }

    .m\:col-11 {
        width: 91.666666% !important;
    }

    .m\:col-12 {
        width: 100% !important;
    }
}

@include tp-respond-above($tp-breakpoint__large) {
    .l\:grid {
        margin-left: -16px !important;
        display: flex !important;
        flex-wrap: wrap !important;
    }

    .l\:grid > * {
        padding-left: 16px !important;
        width: 100% !important;
    }

    .l\:grid-wide {
        margin-left: -32px !important;
    }

    .l\:grid-wide > * {
        padding-left: 32px !important;
    }

    .l\:grid-flush {
        margin-left: 0 !important;
    }

    .l\:grid-flush > * {
        padding-left: 0 !important;
    }

    .l\:col-1 {
        width: 8.333333% !important;
    }

    .l\:col-2 {
        width: 16.666666% !important;
    }

    .l\:col-3 {
        width: 25% !important;
    }

    .l\:col-4 {
        width: 33.333333% !important;
    }

    .l\:col-5 {
        width: 41.666666% !important;
    }

    .l\:col-6 {
        width: 50% !important;
    }

    .l\:col-7 {
        width: 58.333333 !important;
    }

    .l\:col-8 {
        width: 66.666666% !important;
    }

    .l\:col-9 {
        width: 75% !important;
    }

    .l\:col-10 {
        width: 83.333333% !important;
    }

    .l\:col-11 {
        width: 91.666666% !important;
    }

    .l\:col-12 {
        width: 100% !important;
    }
}
