@import './node_modules/@thumbtack/thumbprint-tokens/dist/scss/_index';
@import './node_modules/@thumbtack/tp-ui-core-mixin/_index';

.overflow-visible {
    overflow: visible !important;
}

.overflow-hidden {
    overflow: hidden !important;
}

.overflow-scroll {
    overflow: scroll !important;
}

.overflow-auto {
    overflow: auto !important;
}

.overflow-x-visible {
    overflow-x: visible !important;
}

.overflow-x-hidden {
    overflow-x: hidden !important;
}

.overflow-x-scroll {
    overflow-x: scroll !important;
}

.overflow-x-auto {
    overflow-x: auto !important;
}

.overflow-y-visible {
    overflow-y: visible !important;
}

.overflow-y-hidden {
    overflow-y: hidden !important;
}

.overflow-y-scroll {
    overflow-y: scroll !important;
}

.overflow-y-auto {
    overflow-y: auto !important;
}

@include tp-respond-above($tp-breakpoint__small) {
    .s\:overflow-visible {
        overflow: visible !important;
    }

    .s\:overflow-hidden {
        overflow: hidden !important;
    }

    .s\:overflow-scroll {
        overflow: scroll !important;
    }

    .s\:overflow-auto {
        overflow: auto !important;
    }

    .s\:overflow-x-visible {
        overflow-x: visible !important;
    }

    .s\:overflow-x-hidden {
        overflow-x: hidden !important;
    }

    .s\:overflow-x-scroll {
        overflow-x: scroll !important;
    }

    .s\:overflow-x-auto {
        overflow-x: auto !important;
    }

    .s\:overflow-y-visible {
        overflow-y: visible !important;
    }

    .s\:overflow-y-hidden {
        overflow-y: hidden !important;
    }

    .s\:overflow-y-scroll {
        overflow-y: scroll !important;
    }

    .s\:overflow-y-auto {
        overflow-y: auto !important;
    }
}

@include tp-respond-above($tp-breakpoint__medium) {
    .m\:overflow-visible {
        overflow: visible !important;
    }

    .m\:overflow-hidden {
        overflow: hidden !important;
    }

    .m\:overflow-scroll {
        overflow: scroll !important;
    }

    .m\:overflow-auto {
        overflow: auto !important;
    }

    .m\:overflow-x-visible {
        overflow-x: visible !important;
    }

    .m\:overflow-x-hidden {
        overflow-x: hidden !important;
    }

    .m\:overflow-x-scroll {
        overflow-x: scroll !important;
    }

    .m\:overflow-x-auto {
        overflow-x: auto !important;
    }

    .m\:overflow-y-visible {
        overflow-y: visible !important;
    }

    .m\:overflow-y-hidden {
        overflow-y: hidden !important;
    }

    .m\:overflow-y-scroll {
        overflow-y: scroll !important;
    }

    .m\:overflow-y-auto {
        overflow-y: auto !important;
    }
}

@include tp-respond-above($tp-breakpoint__large) {
    .l\:overflow-visible {
        overflow: visible !important;
    }

    .l\:overflow-hidden {
        overflow: hidden !important;
    }

    .l\:overflow-scroll {
        overflow: scroll !important;
    }

    .l\:overflow-auto {
        overflow: auto !important;
    }

    .l\:overflow-x-visible {
        overflow-x: visible !important;
    }

    .l\:overflow-x-hidden {
        overflow-x: hidden !important;
    }

    .l\:overflow-x-scroll {
        overflow-x: scroll !important;
    }

    .l\:overflow-x-auto {
        overflow-x: auto !important;
    }

    .l\:overflow-y-visible {
        overflow-y: visible !important;
    }

    .l\:overflow-y-hidden {
        overflow-y: hidden !important;
    }

    .l\:overflow-y-scroll {
        overflow-y: scroll !important;
    }

    .l\:overflow-y-auto {
        overflow-y: auto !important;
    }
}
