@import './node_modules/@thumbtack/thumbprint-tokens/dist/scss/_index';
@import './node_modules/@thumbtack/tp-ui-core-mixin/_index';

.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@include tp-respond-above($tp-breakpoint__small) {
    .s\:truncate {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

@include tp-respond-above($tp-breakpoint__medium) {
    .m\:truncate {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

@include tp-respond-above($tp-breakpoint__large) {
    .l\:truncate {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}