@import './node_modules/@thumbtack/thumbprint-tokens/dist/scss/_index';
@import './node_modules/@thumbtack/tp-ui-core-mixin/_index';

.flex {
    display: flex !important;
}
.inline-flex {
    display: inline-flex !important;
}

.flex-auto {
    flex: 1 1 auto !important;
    min-width: 0 !important;
    min-height: 0 !important;
}

.flex-none {
    flex: none !important;
}

.flex-column {
    flex-direction: column !important;
}
.flex-row {
    flex-direction: row !important;
}
.flex-wrap {
    flex-wrap: wrap !important;
}
.flex-nowrap {
    flex-wrap: nowrap !important;
}
.flex-wrap-reverse {
    flex-wrap: wrap-reverse !important;
}
.flex-column-reverse {
    flex-direction: column-reverse !important;
}
.flex-row-reverse {
    flex-direction: row-reverse !important;
}

.items-start {
    align-items: flex-start !important;
}
.items-end {
    align-items: flex-end !important;
}
.items-center {
    align-items: center !important;
}
.items-baseline {
    align-items: baseline !important;
}
.items-stretch {
    align-items: stretch !important;
}

.self-start {
    align-self: flex-start !important;
}
.self-end {
    align-self: flex-end !important;
}
.self-center {
    align-self: center !important;
}
.self-baseline {
    align-self: baseline !important;
}
.self-stretch {
    align-self: stretch !important;
}

.justify-start {
    justify-content: flex-start !important;
}
.justify-end {
    justify-content: flex-end !important;
}
.justify-center {
    justify-content: center !important;
}
.justify-between {
    justify-content: space-between !important;
}
.justify-around {
    justify-content: space-around !important;
}

.content-start {
    align-content: flex-start !important;
}
.content-end {
    align-content: flex-end !important;
}
.content-center {
    align-content: center !important;
}
.content-between {
    align-content: space-between !important;
}
.content-around {
    align-content: space-around !important;
}
.content-stretch {
    align-content: stretch !important;
}

.order-0 {
    order: 0 !important;
}
.order-1 {
    order: 1 !important;
}
.order-2 {
    order: 2 !important;
}
.order-3 {
    order: 3 !important;
}
.order-4 {
    order: 4 !important;
}
.order-5 {
    order: 5 !important;
}
.order-6 {
    order: 6 !important;
}
.order-7 {
    order: 7 !important;
}
.order-8 {
    order: 8 !important;
}
.order-last {
    order: 99999 !important;
}

.flex-grow-0 {
    flex-grow: 0 !important;
}
.flex-grow-1 {
    flex-grow: 1 !important;
}

.flex-shrink-0 {
    flex-shrink: 0 !important;
}
.flex-shrink-1 {
    flex-shrink: 1 !important;
}

@include tp-respond-above($tp-breakpoint__small) {
    .s\:flex {
        display: flex !important;
    }
    .s\:inline-flex {
        display: inline-flex !important;
    }
    .s\:flex-auto {
        flex: 1 1 auto !important;
        min-width: 0 !important;
        min-height: 0 !important;
    }
    .s\:flex-none {
        flex: none !important;
    }
    .s\:flex-column {
        flex-direction: column !important;
    }
    .s\:flex-row {
        flex-direction: row !important;
    }
    .s\:flex-wrap {
        flex-wrap: wrap !important;
    }
    .s\:flex-nowrap {
        flex-wrap: nowrap !important;
    }
    .s\:flex-wrap-reverse {
        flex-wrap: wrap-reverse !important;
    }
    .s\:flex-column-reverse {
        flex-direction: column-reverse !important;
    }
    .s\:flex-row-reverse {
        flex-direction: row-reverse !important;
    }
    .s\:items-start {
        align-items: flex-start !important;
    }
    .s\:items-end {
        align-items: flex-end !important;
    }
    .s\:items-center {
        align-items: center !important;
    }
    .s\:items-baseline {
        align-items: baseline !important;
    }
    .s\:items-stretch {
        align-items: stretch !important;
    }

    .s\:self-start {
        align-self: flex-start !important;
    }
    .s\:self-end {
        align-self: flex-end !important;
    }
    .s\:self-center {
        align-self: center !important;
    }
    .s\:self-baseline {
        align-self: baseline !important;
    }
    .s\:self-stretch {
        align-self: stretch !important;
    }

    .s\:justify-start {
        justify-content: flex-start !important;
    }
    .s\:justify-end {
        justify-content: flex-end !important;
    }
    .s\:justify-center {
        justify-content: center !important;
    }
    .s\:justify-between {
        justify-content: space-between !important;
    }
    .s\:justify-around {
        justify-content: space-around !important;
    }

    .s\:content-start {
        align-content: flex-start !important;
    }
    .s\:content-end {
        align-content: flex-end !important;
    }
    .s\:content-center {
        align-content: center !important;
    }
    .s\:content-between {
        align-content: space-between !important;
    }
    .s\:content-around {
        align-content: space-around !important;
    }
    .s\:content-stretch {
        align-content: stretch !important;
    }

    .s\:order-0 {
        order: 0 !important;
    }
    .s\:order-1 {
        order: 1 !important;
    }
    .s\:order-2 {
        order: 2 !important;
    }
    .s\:order-3 {
        order: 3 !important;
    }
    .s\:order-4 {
        order: 4 !important;
    }
    .s\:order-5 {
        order: 5 !important;
    }
    .s\:order-6 {
        order: 6 !important;
    }
    .s\:order-7 {
        order: 7 !important;
    }
    .s\:order-8 {
        order: 8 !important;
    }
    .s\:order-last {
        order: 99999 !important;
    }

    .s\:flex-grow-0 {
        flex-grow: 0 !important;
    }
    .s\:flex-grow-1 {
        flex-grow: 1 !important;
    }

    .s\:flex-shrink-0 {
        flex-shrink: 0 !important;
    }
    .s\:flex-shrink-1 {
        flex-shrink: 1 !important;
    }
}
@include tp-respond-above($tp-breakpoint__medium) {
    .m\:flex {
        display: flex !important;
    }
    .m\:inline-flex {
        display: inline-flex !important;
    }
    .m\:flex-auto {
        flex: 1 1 auto !important;
        min-width: 0 !important;
        min-height: 0 !important;
    }
    .m\:flex-none {
        flex: none !important;
    }
    .m\:flex-column {
        flex-direction: column !important;
    }
    .m\:flex-row {
        flex-direction: row !important;
    }
    .m\:flex-wrap {
        flex-wrap: wrap !important;
    }
    .m\:flex-nowrap {
        flex-wrap: nowrap !important;
    }
    .m\:flex-wrap-reverse {
        flex-wrap: wrap-reverse !important;
    }
    .m\:flex-column-reverse {
        flex-direction: column-reverse !important;
    }
    .m\:flex-row-reverse {
        flex-direction: row-reverse !important;
    }
    .m\:items-start {
        align-items: flex-start !important;
    }
    .m\:items-end {
        align-items: flex-end !important;
    }
    .m\:items-center {
        align-items: center !important;
    }
    .m\:items-baseline {
        align-items: baseline !important;
    }
    .m\:items-stretch {
        align-items: stretch !important;
    }

    .m\:self-start {
        align-self: flex-start !important;
    }
    .m\:self-end {
        align-self: flex-end !important;
    }
    .m\:self-center {
        align-self: center !important;
    }
    .m\:self-baseline {
        align-self: baseline !important;
    }
    .m\:self-stretch {
        align-self: stretch !important;
    }

    .m\:justify-start {
        justify-content: flex-start !important;
    }
    .m\:justify-end {
        justify-content: flex-end !important;
    }
    .m\:justify-center {
        justify-content: center !important;
    }
    .m\:justify-between {
        justify-content: space-between !important;
    }
    .m\:justify-around {
        justify-content: space-around !important;
    }

    .m\:content-start {
        align-content: flex-start !important;
    }
    .m\:content-end {
        align-content: flex-end !important;
    }
    .m\:content-center {
        align-content: center !important;
    }
    .m\:content-between {
        align-content: space-between !important;
    }
    .m\:content-around {
        align-content: space-around !important;
    }
    .m\:content-stretch {
        align-content: stretch !important;
    }

    .m\:order-0 {
        order: 0 !important;
    }
    .m\:order-1 {
        order: 1 !important;
    }
    .m\:order-2 {
        order: 2 !important;
    }
    .m\:order-3 {
        order: 3 !important;
    }
    .m\:order-4 {
        order: 4 !important;
    }
    .m\:order-5 {
        order: 5 !important;
    }
    .m\:order-6 {
        order: 6 !important;
    }
    .m\:order-7 {
        order: 7 !important;
    }
    .m\:order-8 {
        order: 8 !important;
    }
    .m\:order-last {
        order: 99999 !important;
    }

    .m\:flex-grow-0 {
        flex-grow: 0 !important;
    }
    .m\:flex-grow-1 {
        flex-grow: 1 !important;
    }

    .m\:flex-shrink-0 {
        flex-shrink: 0 !important;
    }
    .m\:flex-shrink-1 {
        flex-shrink: 1 !important;
    }
}

@include tp-respond-above($tp-breakpoint__large) {
    .l\:flex {
        display: flex !important;
    }
    .l\:inline-flex {
        display: inline-flex !important;
    }
    .l\:flex-auto {
        flex: 1 1 auto !important;
        min-width: 0 !important;
        min-height: 0 !important;
    }
    .l\:flex-none {
        flex: none !important;
    }
    .l\:flex-column {
        flex-direction: column !important;
    }
    .l\:flex-row {
        flex-direction: row !important;
    }
    .l\:flex-wrap {
        flex-wrap: wrap !important;
    }
    .l\:flex-nowrap {
        flex-wrap: nowrap !important;
    }
    .l\:flex-wrap-reverse {
        flex-wrap: wrap-reverse !important;
    }
    .l\:flex-column-reverse {
        flex-direction: column-reverse !important;
    }
    .l\:flex-row-reverse {
        flex-direction: row-reverse !important;
    }

    .l\:items-start {
        align-items: flex-start !important;
    }
    .l\:items-end {
        align-items: flex-end !important;
    }
    .l\:items-center {
        align-items: center !important;
    }
    .l\:items-baseline {
        align-items: baseline !important;
    }
    .l\:items-stretch {
        align-items: stretch !important;
    }

    .l\:self-start {
        align-self: flex-start !important;
    }
    .l\:self-end {
        align-self: flex-end !important;
    }
    .l\:self-center {
        align-self: center !important;
    }
    .l\:self-baseline {
        align-self: baseline !important;
    }
    .l\:self-stretch {
        align-self: stretch !important;
    }

    .l\:justify-start {
        justify-content: flex-start !important;
    }
    .l\:justify-end {
        justify-content: flex-end !important;
    }
    .l\:justify-center {
        justify-content: center !important;
    }
    .l\:justify-between {
        justify-content: space-between !important;
    }
    .l\:justify-around {
        justify-content: space-around !important;
    }

    .l\:content-start {
        align-content: flex-start !important;
    }
    .l\:content-end {
        align-content: flex-end !important;
    }
    .l\:content-center {
        align-content: center !important;
    }
    .l\:content-between {
        align-content: space-between !important;
    }
    .l\:content-around {
        align-content: space-around !important;
    }
    .l\:content-stretch {
        align-content: stretch !important;
    }

    .l\:order-0 {
        order: 0 !important;
    }
    .l\:order-1 {
        order: 1 !important;
    }
    .l\:order-2 {
        order: 2 !important;
    }
    .l\:order-3 {
        order: 3 !important;
    }
    .l\:order-4 {
        order: 4 !important;
    }
    .l\:order-5 {
        order: 5 !important;
    }
    .l\:order-6 {
        order: 6 !important;
    }
    .l\:order-7 {
        order: 7 !important;
    }
    .l\:order-8 {
        order: 8 !important;
    }
    .l\:order-last {
        order: 99999 !important;
    }

    .l\:flex-grow-0 {
        flex-grow: 0 !important;
    }
    .l\:flex-grow-1 {
        flex-grow: 1 !important;
    }

    .l\:flex-shrink-0 {
        flex-shrink: 0 !important;
    }
    .l\:flex-shrink-1 {
        flex-shrink: 1 !important;
    }
}
