<h2>Classes</h2>
{{#each this}}
    <div class="entry flex bt b-gray-300">
        <code class="col-40 pv2 s:ph3 clipboard">{{className}}</code>
        <code class="col-60 pv2 s:ph3" style="opacity: .7">
            {{#each declarations}}
                <div>
                    {{property}}</span>: {{value}}; {{{hex}}}
                </div>
            {{/each}}
        </code>
    </div>
{{/each}}
