@import './node_modules/@thumbtack/thumbprint-tokens/dist/scss/_index';
@import './node_modules/@thumbtack/tp-ui-core-function/_index';
@import './node_modules/@thumbtack/tp-ui-core-mixin/_index';

.w1 {
    width: tp-spacer(2) !important;
}
.w2 {
    width: tp-spacer(4) !important;
}
.w3 {
    width: tp-spacer(8) !important;
}
.w4 {
    width: tp-spacer(16) !important;
}
.w5 {
    width: tp-spacer(32) !important;
}

.w-1\/12 {
    width: calc(1/12 * 100%) !important;
}
.w-1\/6 {
    width: calc(1/6 * 100%) !important;
}
.w-1\/10 {
    width: 10% !important;
}
.w-1\/5 {
    width: 20% !important;
}
.w-1\/4 {
    width: 25% !important;
}
.w-3\/10 {
    width: 30% !important;
}
.w-1\/3 {
    width: calc(1/3 * 100%) !important;
}
.w-2\/5 {
    width: 40% !important;
}
.w-5\/12 {
    width: calc(5/12 * 100%) !important;
}
.w-1\/2 {
    width: 50% !important;
}
.w-3\/5 {
    width: 60% !important;
}
.w-7\/12 {
    width: calc(7/12 * 100%) !important;
}
.w-2\/3 {
    width: calc(2/3 * 100%) !important;
}
.w-7\/10 {
    width: 70% !important;
}
.w-3\/4 {
    width: 75% !important;
}
.w-4\/5 {
    width: 80% !important;
}
.w-5\/6 {
    width: calc(5/6 * 100%) !important;
}
.w-9\/10 {
    width: 90% !important;
}
.w-11\/12 {
    width: calc(11/12 * 100%) !important;
}
.w-100 {
    width: 100% !important;
}
.w-auto {
    width: auto !important;
}

@include tp-respond-above($tp-breakpoint__small) {
    .s\:w1 {
        width: tp-spacer(2) !important;
    }
    .s\:w2 {
        width: tp-spacer(4) !important;
    }
    .s\:w3 {
        width: tp-spacer(8) !important;
    }
    .s\:w4 {
        width: tp-spacer(16) !important;
    }
    .s\:w5 {
        width: tp-spacer(32) !important;
    }

    .s\:w-1\/12 {
        width: calc(1/12 * 100%) !important;
    }
    .s\:w-1\/10 {
        width: 10% !important;
    }
    .s\:w-1\/6 {
        width: calc(1/6 * 100%) !important;
    }
    .s\:w-1\/5 {
        width: 20% !important;
    }
    .s\:w-1\/4 {
        width: 25% !important;
    }
    .s\:w-3\/10 {
        width: 30% !important;
    }
    .s\:w-1\/3 {
        width: calc(1/3 * 100%) !important;
    }
    .s\:w-2\/5 {
        width: 40% !important;
    }
    .s\:w-5\/12 {
        width: calc(5/12 * 100%) !important;
    }
    .s\:w-1\/2 {
        width: 50% !important;
    }
    .s\:w-3\/5 {
        width: 60% !important;
    }
    .s\:w-7\/12 {
        width: calc(7/12 * 100%) !important;
    }
    .s\:w-2\/3 {
        width: 66.66% !important;
    }
    .s\:w-7\/10 {
        width: 70% !important;
    }
    .s\:w-3\/4 {
        width: 75% !important;
    }
    .s\:w-4\/5 {
        width: 80% !important;
    }
    .s\:w-5\/6 {
        width: calc(5/6 * 100%) !important;
    }
    .s\:w-9\/10 {
        width: 90% !important;
    }
    .s\:w-11\/12 {
        width: calc(11/12 * 100%) !important;
    }
    .s\:w-100 {
        width: 100% !important;
    }
    .s\:w-auto {
        width: auto !important;
    }
}

@include tp-respond-above($tp-breakpoint__medium) {
    .m\:w1 {
        width: tp-spacer(2) !important;
    }
    .m\:w2 {
        width: tp-spacer(4) !important;
    }
    .m\:w3 {
        width: tp-spacer(8) !important;
    }
    .m\:w4 {
        width: tp-spacer(16) !important;
    }
    .m\:w5 {
        width: tp-spacer(32) !important;
    }

    .m\:w-1\/12 {
        width: calc(1/12 * 100%) !important;
    }
    .m\:w-1\/10 {
        width: 10% !important;
    }
    .m\:w-1\/6 {
        width: calc(1/6 * 100%) !important;
    }
    .m\:w-1\/5 {
        width: 20% !important;
    }
    .m\:w-1\/4 {
        width: 25% !important;
    }
    .m\:w-3\/10 {
        width: 30% !important;
    }
    .m\:w-1\/3 {
        width: calc(1/3 * 100%) !important;
    }
    .m\:w-2\/5 {
        width: 40% !important;
    }
    .m\:w-5\/12 {
        width: calc(5/12 * 100%) !important;
    }
    .m\:w-1\/2 {
        width: 50% !important;
    }
    .m\:w-3\/5 {
        width: 60% !important;
    }
    .m\:w-7\/12 {
        width: calc(7/12 * 100%) !important;
    }
    .m\:w-2\/3 {
        width: 66.66% !important;
    }
    .m\:w-7\/10 {
        width: 70% !important;
    }
    .m\:w-3\/4 {
        width: 75% !important;
    }
    .m\:w-4\/5 {
        width: 80% !important;
    }
    .m\:w-5\/6 {
        width: calc(5/6 * 100%) !important;
    }
    .m\:w-9\/10 {
        width: 90% !important;
    }
    .m\:w-11\/12 {
        width: calc(11/12 * 100%) !important;
    }
    .m\:w-100 {
        width: 100% !important;
    }
    .m\:w-auto {
        width: auto !important;
    }
}

@include tp-respond-above($tp-breakpoint__large) {
    .l\:w1 {
        width: tp-spacer(2) !important;
    }
    .l\:w2 {
        width: tp-spacer(4) !important;
    }
    .l\:w3 {
        width: tp-spacer(8) !important;
    }
    .l\:w4 {
        width: tp-spacer(16) !important;
    }
    .l\:w5 {
        width: tp-spacer(32) !important;
    }

    .l\:w-1\/12 {
        width: calc(1/12 * 100%) !important;
    }
    .l\:w-1\/10 {
        width: 10% !important;
    }
    .l\:w-1\/6 {
        width: calc(1/6 * 100%) !important;
    }
    .l\:w-1\/5 {
        width: 20% !important;
    }
    .l\:w-1\/4 {
        width: 25% !important;
    }
    .l\:w-3\/10 {
        width: 30% !important;
    }
    .l\:w-1\/3 {
        width: calc(1/3 * 100%) !important;
    }
    .l\:w-2\/5 {
        width: 40% !important;
    }
    .l\:w-5\/12 {
        width: calc(5/12 * 100%) !important;
    }
    .l\:w-1\/2 {
        width: 50% !important;
    }
    .l\:w-3\/5 {
        width: 60% !important;
    }
    .l\:w-7\/12 {
        width: calc(7/12 * 100%) !important;
    }
    .l\:w-2\/3 {
        width: 66.66% !important;
    }
    .l\:w-7\/10 {
        width: 70% !important;
    }
    .l\:w-3\/4 {
        width: 75% !important;
    }
    .l\:w-4\/5 {
        width: 80% !important;
    }
    .l\:w-5\/6 {
        width: calc(5/6 * 100%) !important;
    }
    .l\:w-9\/10 {
        width: 90% !important;
    }
    .l\:w-11\/12 {
        width: calc(11/12 * 100%) !important;
    }
    .l\:w-100 {
        width: 100% !important;
    }
    .l\:w-auto {
        width: auto !important;
    }
}
