<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Example</title>
    <link rel="stylesheet" href="/css/tui.css">
    <link rel="stylesheet" href="/css/utils.css">
</head>
<body class="pt4">
{{{html}}}
<div class="tp-wrap mv6">
<div class="b mb2">Example Code</div>
<pre><code>{{{code}}}</code></pre>
</div>
</body>
</html>