<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Utilities</title>
    <style>

        .entry:hover {
            background: #fafafa;
        }

        .filter-class,
        .filter-property,
        .filter-value   {
            opacity: .7;
        }

        .type-class .filter-class,
        .type-property .filter-property,
        .type-value .filter-value   {
            font-weight: 700;
            opacity: 1;
        }

        .filter-active .entry {
            display: none !important;
        }

        .filter-active .match-class,
        .filter-active .match-property,
        .filter-active .match-value {
            display: block !important;
        }

        .filter-active .hit {
            color: #cc3553;
        }

        .filter-active.no-hit #no-hit-message {
            display: flex !important;
        }

    </style>
    <link rel="stylesheet" href="/css/tui.css">
    <link rel="stylesheet" href="/css/utils.css">
</head>

<body>

    <div class="fixed w5 h-100 z-1 br b--gray-300">
        <div class="pa4">
            <div class="mb3">
                <select id="filter-type" class="tp-select tp-select--small w-100">
                    <option value="class">class</option>
                    <option selected value="property">property</option>
                    <option value="value">value</option>
                </select>
            </div>
            <div class="mb3">
                <select id="filter-seek" class="tp-select tp-select--small w-100">
                    <option selected value="starts with">starts with</option>
                    <option value="includes">includes</option>
                </select>
            </div>
            <input type="text" class="tp-text-input tp-text-input--small" id="filter" name="filter" />
        </div>
    </div>

    <div class="pl7">
        <div class="longread">
            {{#each this}}
            <div class="entry bb b--gray-300">
                <div class="center mw7 flex">
                    <code class="w-2/5 pv2 clipboard filter-class">{{className}}</code>
                    <code class="w-3/5 pv2">
                            {{#each declarations}}
                                <div>
                                    <span class="filter-property">{{property}}</span>:
                                    <span class="filter-value">{{value}}</span>;
                                    {{{hex}}}
                                </div>
                            {{/each}}
                    </code>
                </div>
            </div>
            {{/each}}
        </div>
    </div>

    <div id="no-hit-message" class="fixed absolute--fill pl7" style="display:none">
        <div class="ma-auto">
            No
            <span id="no-hit-type" class="b"></span>
            <span id="no-hit-seek"></span>
            <span id="no-hit-term" class="b"></span>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/clipboard@2/dist/clipboard.min.js"></script>
    <script src="/js/clipboard.js"></script>
    <script src="/js/filter.js"></script>

</body>

</html>