<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Utilities</title>
    <link rel="stylesheet" href="/css/tui.css">
    <link rel="stylesheet" href="/css/utils.css">
    <style>
        .filter-active .entry {
            display: none !important;
        }

        .filter-active .match-class,
        .filter-active .match-property,
        .filter-active .match-value {
            display: flex !important;
        }

        .match-class .hit,
        .match-property .hit,
        .match-value .hit {
            color: #2db783;
        }
    </style>
</head>

<body>
    <div class="ph3 pv4 s:ph0">
        <div class="center mw7 flex items-center">
            <div class="flex-auto mr3">
                <label class="tp-label" for="filter">Starts with</label>
                <input type="text" class="tp-text-input tp-text-input--small" id="filter" name="filter" />
            </div>
            <div class="flex-none">
                <label class="tp-label">Filter by</label>
                <select id="filter-type" class="tp-select tp-select--small">
                    <option value="class">class</option>
                    <option selected value="property">property</option>
                    <option value="value">value</option>
                </select>
            </div>
        </div>
        <div class="longread center mw7 mv3">
            <div class="flex mb3 bb bw-2 b--gray-300">
                <code class="w-2/5 pv2 s:ph3 black-300">class</code>
                <code class="w-3/5 pv2 s:ph3">
                <div>
                    <span class="black-300">property</span>:
                    <span class="black-300">value</span>;
                </div>
                </code>
            </div>
            {{#each this}}
                <div class="entry flex bb b--gray-300">
                    <code class="w-2/5 pv2 s:ph3 clipboard filter-class">{{className}}</code>
                    <code class="w-3/5 pv2 s:ph3" style="opacity: .7">
                        {{#each declarations}}
                            <div>
                                <span class="filter-property">{{property}}</span>:
                                <span class="filter-value">{{value}}</span>;
                                {{{hex}}}
                            </div>
                        {{/each}}
                    </code>
                </div>
            {{/each}}
        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/clipboard@2/dist/clipboard.min.js"></script>
    <script src="/js/clipboard.js"></script>
    <script src="/js/filter.js"></script>

</body>

</html>