<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Utilities</title>
    <link rel="stylesheet" href="/css/tui.css">
    <link rel="stylesheet" href="/css/utils.css">
    <style>
        .filter-active .entry {
            display: none !important;
        }

        .filter-active .match-class,
        .filter-active .match-property,
        .filter-active .match-value {
            display: flex !important;
        }

        .filter-active .hit {
            color: #2db783;
        }
    </style>
</head>

<body>

    <div class="fixed w5 h-100 pa3 z-1 bg-gray-200">
        <div class="mb3 pt4">
            <select id="filter-type" class="tp-select tp-select--small w-100">
                <option value="class">class</option>
                <option selected value="property">property</option>
                <option value="value">value</option>
            </select>
        </div>
        <div class="mb3">
            <select id="filter-seek" class="tp-select tp-select--small w-100">
                <option selected value="starts">starts with</option>
                <option value="includes">includes</option>
            </select>
        </div>
        <input type="text" class="tp-text-input tp-text-input--small" id="filter" name="filter" />
    </div>

    <div class="pv4 pl7">
        <div class="longread center mw7 mv3">
            {{#each this}}
            <div class="entry flex bb b--gray-300">
                <code class="w-2/5 pv2 clipboard filter-class">{{className}}</code>
                <code class="w-3/5 pv2" style="opacity: .7">
                        {{#each declarations}}
                            <div>
                                <span class="filter-property">{{property}}</span>:
                                <span class="filter-value">{{value}}</span>;
                                {{{hex}}}
                            </div>
                        {{/each}}
                    </code>
            </div>
            {{/each}}
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/clipboard@2/dist/clipboard.min.js"></script>
    <script src="/js/clipboard.js"></script>
    <script src="/js/filter.js"></script>

</body>

</html>