<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Thumbprint Atomic: Filter</title>
    <style>

        .entry:hover {
            background: #fafafa;
        }

        .filter-class,
        .filter-property,
        .filter-value   {
            opacity: .7;
        }

        .type-class .filter-class,
        .type-property .filter-property,
        .type-value .filter-value   {
            font-weight: 700;
            opacity: 1;
        }

        .filter-active .entry {
            display: none !important;
        }

        .filter-active .match-class,
        .filter-active .match-property,
        .filter-active .match-value {
            display: block !important;
        }

        .filter-active .hit {
            color: #cc3553;
        }

        .filter-active.no-hit #no-hit-message {
            display: flex !important;
        }

        #filter-clear {
            display: none;
            cursor: pointer;
        }

        .filter-active #filter-clear {
            display: block
        }

    </style>
    <link rel="stylesheet" href="/css/tui.css">
    <link rel="stylesheet" href="/css/utils.css">
</head>

<body>

    <div class="fixed w6 h-100 z-1 br b-gray-300">
        <div class="pa4">
            <div class="mb4">
                <div class="tp-input-wrap">
                    <input type="radio" value="class" class="tp-radio-input" name="filter-type" id="filter-type-a" />
                    <div class="tp-radio-image"></div>
                    <label class="tp-label" for="filter-type-a">class</label>
                </div>
                <div class="tp-input-wrap">
                    <input type="radio" value="property" class="tp-radio-input" name="filter-type" id="filter-type-b" checked />
                    <div class="tp-radio-image"></div>
                    <label class="tp-label" for="filter-type-b">property</label>
                </div>
                <div class="tp-input-wrap">
                    <input type="radio" value="value" class="tp-radio-input" name="filter-type" id="filter-type-c" />
                    <div class="tp-radio-image"></div>
                    <label class="tp-label" for="filter-type-c">value</label>
                </div>
            </div>
            <div class="mb4">
                <div class="tp-input-wrap">
                    <input type="radio" value="starts with" class="tp-radio-input" name="filter-seek" id="filter-seek-a" checked="" />
                    <div class="tp-radio-image"></div>
                    <label class="tp-label" for="filter-seek-a">starts with</label>
                </div>
                <div class="tp-input-wrap">
                    <input type="radio" value="includes" class="tp-radio-input" name="filter-seek" id="filter-seek-b" />
                    <div class="tp-radio-image"></div>
                    <label class="tp-label" for="filter-seek-b">includes</label>
                </div>
            </div>
            <div class="relative flex items-center">
                <input type="text" class="tp-text-input tp-text-input--small pr4" id="filter" name="filter" />
                <svg id="filter-clear" class="absolute right2" xmlns="http://www.w3.org/2000/svg" fill="currentColor" width="18" height="18" viewBox="0 0 18 18" data-thumbprint-id="navigation-close--small"> <path fill-rule="evenodd" d="M9.01396113,7.59974756 L4.77132044,3.35710688 C4.38079615,2.96658258 3.74763117,2.96658258 3.35710688,3.35710688 L3.35710688,3.35710688 L3.35710688,3.35710688 C2.96658258,3.74763117 2.96658258,4.38079615 3.35710688,4.77132044 L3.35710688,4.77132044 L7.59974756,9.01396113 L3.35710688,13.2566018 C2.96658258,13.6471261 2.96658258,14.2802911 3.35710688,14.6708154 L3.35710688,14.6708154 L3.35710688,14.6708154 C3.74763117,15.0613397 4.38079615,15.0613397 4.77132044,14.6708154 L9.01396113,10.4281747 L13.2566018,14.6708154 C13.6471261,15.0613397 14.2802911,15.0613397 14.6708154,14.6708154 L14.6708154,14.6708154 C15.0613397,14.2802911 15.0613397,13.6471261 14.6708154,13.2566018 L14.6708154,13.2566018 L10.4281747,9.01396113 L14.6708154,4.77132044 C15.0613397,4.38079615 15.0613397,3.74763117 14.6708154,3.35710688 L14.6708154,3.35710688 C14.2802911,2.96658258 13.6471261,2.96658258 13.2566018,3.35710688 L13.2566018,3.35710688 L9.01396113,7.59974756 Z"/> </svg>
            </div>
        </div>
    </div>

    <div class="pl8">
        <div class="longread">
            {{#each this}}
            <div class="entry bb b-gray-300 ph3">
                <div class="center mw8 flex">
                    <code class="w-40 pv2 clipboard filter-class">{{className}}</code>
                    <code class="w-60 pv2">
                            {{#each declarations}}
                                <div>
                                    <span class="filter-property">{{property}}</span>:
                                    <span class="filter-value">{{value}}</span>;
                                    {{{hex}}}
                                </div>
                            {{/each}}
                    </code>
                </div>
            </div>
            {{/each}}
        </div>
    </div>

    <div id="no-hit-message" class="fixed absolute-fill pl7" style="display:none">
        <div class="ma-auto">
            No
            <span id="no-hit-type" class="b"></span>
            <span id="no-hit-seek"></span>
            <span id="no-hit-term" class="b"></span>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/clipboard@2/dist/clipboard.min.js"></script>
    <script src="/js/clipboard.js"></script>
    <script src="/js/filter.js"></script>

</body>

</html>