@import './node_modules/@thumbtack/thumbprint-tokens/dist/scss/_index';
@import './node_modules/@thumbtack/tp-ui-core-mixin/_index';

.mw-100 {
    max-width: 100% !important;
}

.mw1 {
    max-width: 16px !important;
}
.mw2 {
    max-width: 32px !important;
}
.mw3 {
    max-width: 64px !important;
}
.mw4 {
    max-width: 128px !important;
}
.mw5 {
    max-width: 256px !important;
}
.mw6 {
    max-width: 512px !important;
}
.mw7 {
    max-width: 736px !important;
}
.mw8 {
    max-width: 1024px !important;
}

.mw-none {
    max-width: none !important;
}

@include tp-respond-above($tp-breakpoint__small) {
    .s\:mw-100 {
        max-width: 100% !important;
    }

    .s\:mw1 {
        max-width: 16px !important;
    }
    .s\:mw2 {
        max-width: 32px !important;
    }
    .s\:mw3 {
        max-width: 64px !important;
    }
    .s\:mw4 {
        max-width: 128px !important;
    }
    .s\:mw5 {
        max-width: 256px !important;
    }
    .s\:mw6 {
        max-width: 512px !important;
    }
    .s\:mw7 {
        max-width: 736px !important;
    }
    .s\:mw8 {
        max-width: 1024px !important;
    }

    .s\:mw-none {
        max-width: none !important;
    }
}

@include tp-respond-above($tp-breakpoint__medium) {
    .m\:mw-100 {
        max-width: 100% !important;
    }

    .m\:mw1 {
        max-width: 16px !important;
    }
    .m\:mw2 {
        max-width: 32px !important;
    }
    .m\:mw3 {
        max-width: 64px !important;
    }
    .m\:mw4 {
        max-width: 128px !important;
    }
    .m\:mw5 {
        max-width: 256px !important;
    }
    .m\:mw6 {
        max-width: 512px !important;
    }
    .m\:mw7 {
        max-width: 736px !important;
    }
    .m\:mw8 {
        max-width: 1024px !important;
    }

    .m\:mw-none {
        max-width: none !important;
    }
}

@include tp-respond-above($tp-breakpoint__large) {
    .l\:mw-100 {
        max-width: 100% !important;
    }

    .l\:mw1 {
        max-width: 16px !important;
    }
    .l\:mw2 {
        max-width: 32px !important;
    }
    .l\:mw3 {
        max-width: 64px !important;
    }
    .l\:mw4 {
        max-width: 128px !important;
    }
    .l\:mw5 {
        max-width: 256px !important;
    }
    .l\:mw6 {
        max-width: 512px !important;
    }
    .l\:mw7 {
        max-width: 736px !important;
    }
    .l\:mw8 {
        max-width: 1024px !important;
    }

    .l\:mw-none {
        max-width: none !important;
    }
}
