@import './node_modules/@thumbtack/thumbprint-tokens/dist/scss/_index';
@import './node_modules/@thumbtack/tp-ui-core-function/_index';
@import './node_modules/@thumbtack/tp-ui-core-mixin/_index';

.top0 {
    top: 0 !important;
}
.right0 {
    right: 0 !important;
}
.bottom0 {
    bottom: 0 !important;
}
.left0 {
    left: 0 !important;
}

.top1 {
    top: tp-spacer(1) !important;
}
.right1 {
    right: tp-spacer(1) !important;
}
.bottom1 {
    bottom: tp-spacer(1) !important;
}
.left1 {
    left: tp-spacer(1) !important;
}

.top2 {
    top: tp-spacer(2) !important;
}
.right2 {
    right: tp-spacer(2) !important;
}
.bottom2 {
    bottom: tp-spacer(2) !important;
}
.left2 {
    left: tp-spacer(2) !important;
}

.-top1 {
    top: tp-spacer(-1) !important;
}
.-right1 {
    right: tp-spacer(-1) !important;
}
.-bottom1 {
    bottom: tp-spacer(-1) !important;
}
.-left1 {
    left: tp-spacer(-1) !important;
}

.-top2 {
    top: tp-spacer(-2) !important;
}
.-right2 {
    right: tp-spacer(-2) !important;
}
.-bottom2 {
    bottom: tp-spacer(-2) !important;
}
.-left2 {
    left: tp-spacer(-2) !important;
}

.absolute--fill {
    top: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    left: 0 !important;
}

@include tp-respond-above($tp-breakpoint__small) {
    .s\:top0 {
        top: 0 !important;
    }
    .s\:left0 {
        left: 0 !important;
    }
    .s\:right0 {
        right: 0 !important;
    }
    .s\:bottom0 {
        bottom: 0 !important;
    }
    .s\:top1 {
        top: tp-spacer(1) !important;
    }
    .s\:left1 {
        left: tp-spacer(1) !important;
    }
    .s\:right1 {
        right: tp-spacer(1) !important;
    }
    .s\:bottom1 {
        bottom: tp-spacer(1) !important;
    }
    .s\:top2 {
        top: tp-spacer(2) !important;
    }
    .s\:left2 {
        left: tp-spacer(2) !important;
    }
    .s\:right2 {
        right: tp-spacer(2) !important;
    }
    .s\:bottom2 {
        bottom: tp-spacer(2) !important;
    }
    .s\:-top1 {
        top: tp-spacer(-1) !important;
    }
    .s\:-right1 {
        right: tp-spacer(-1) !important;
    }
    .s\:-bottom1 {
        bottom: tp-spacer(-1) !important;
    }
    .s\:-left1 {
        left: tp-spacer(-1) !important;
    }
    .s\:-top2 {
        top: tp-spacer(-2) !important;
    }
    .s\:-right2 {
        right: tp-spacer(-2) !important;
    }
    .s\:-bottom2 {
        bottom: tp-spacer(-2) !important;
    }
    .s\:-left2 {
        left: tp-spacer(-2) !important;
    }
    .s\:absolute--fill {
        top: 0 !important;
        right: 0 !important;
        bottom: 0 !important;
        left: 0 !important;
    }
}

@include tp-respond-above($tp-breakpoint__medium) {
    .m\:top0 {
        top: 0 !important;
    }
    .m\:left0 {
        left: 0 !important;
    }
    .m\:right0 {
        right: 0 !important;
    }
    .m\:bottom0 {
        bottom: 0 !important;
    }
    .m\:top1 {
        top: tp-spacer(1) !important;
    }
    .m\:left1 {
        left: tp-spacer(1) !important;
    }
    .m\:right1 {
        right: tp-spacer(1) !important;
    }
    .m\:bottom1 {
        bottom: tp-spacer(1) !important;
    }
    .m\:top2 {
        top: tp-spacer(2) !important;
    }
    .m\:left2 {
        left: tp-spacer(2) !important;
    }
    .m\:right2 {
        right: tp-spacer(2) !important;
    }
    .m\:bottom2 {
        bottom: tp-spacer(2) !important;
    }
    .m\:-top1 {
        top: tp-spacer(-1) !important;
    }
    .m\:-right1 {
        right: tp-spacer(-1) !important;
    }
    .m\:-bottom1 {
        bottom: tp-spacer(-1) !important;
    }
    .m\:-left1 {
        left: tp-spacer(-1) !important;
    }
    .m\:-top2 {
        top: tp-spacer(-2) !important;
    }
    .m\:-right2 {
        right: tp-spacer(-2) !important;
    }
    .m\:-bottom2 {
        bottom: tp-spacer(-2) !important;
    }
    .m\:-left2 {
        left: tp-spacer(-2) !important;
    }
    .m\:absolute--fill {
        top: 0 !important;
        right: 0 !important;
        bottom: 0 !important;
        left: 0 !important;
    }
}

@include tp-respond-above($tp-breakpoint__large) {
    .l\:top0 {
        top: 0 !important;
    }
    .l\:left0 {
        left: 0 !important;
    }
    .l\:right0 {
        right: 0 !important;
    }
    .l\:bottom0 {
        bottom: 0 !important;
    }
    .l\:top1 {
        top: tp-spacer(1) !important;
    }
    .l\:left1 {
        left: tp-spacer(1) !important;
    }
    .l\:right1 {
        right: tp-spacer(1) !important;
    }
    .l\:bottom1 {
        bottom: tp-spacer(1) !important;
    }
    .l\:top2 {
        top: tp-spacer(2) !important;
    }
    .l\:left2 {
        left: tp-spacer(2) !important;
    }
    .l\:right2 {
        right: tp-spacer(2) !important;
    }
    .l\:bottom2 {
        bottom: tp-spacer(2) !important;
    }
    .l\:-top1 {
        top: tp-spacer(-1) !important;
    }
    .l\:-right1 {
        right: tp-spacer(-1) !important;
    }
    .l\:-bottom1 {
        bottom: tp-spacer(-1) !important;
    }
    .l\:-left1 {
        left: tp-spacer(-1) !important;
    }
    .l\:-top2 {
        top: tp-spacer(-2) !important;
    }
    .l\:-right2 {
        right: tp-spacer(-2) !important;
    }
    .l\:-bottom2 {
        bottom: tp-spacer(-2) !important;
    }
    .l\:-left2 {
        left: tp-spacer(-2) !important;
    }
    .l\:absolute--fill {
        top: 0 !important;
        right: 0 !important;
        bottom: 0 !important;
        left: 0 !important;
    }
}
