@import './node_modules/@thumbtack/thumbprint-tokens/dist/scss/_index';
@import './node_modules/@thumbtack/tp-ui-core-function/_index';
@import './node_modules/@thumbtack/tp-ui-core-mixin/_index';

.row {
    display: flex !important;
    flex-wrap: wrap !important;
    margin-left: tp-spacer(-2) !important;
}

.col {
    width: 100%; // Default full width for mobile
}

.row > .col {
    padding-left: tp-spacer(2) !important;
}

.row--wide {
    margin-left: tp-spacer(-4) !important;
}

.row--wide > .col {
    padding-left: tp-spacer(4) !important;
}

.row--flush {
    margin-left: 0 !important;
}

.row--flush > .col {
    padding-left: 0 !important;
}

@include tp-respond-above($tp-breakpoint__small) {
    .s\:row {
        display: flex !important;
        flex-wrap: wrap !important;
        margin-left: tp-spacer(-2) !important;
    }
    .s\:row > .col {
        padding-left: tp-spacer(2) !important;
    }

    .s\:row--wide {
        margin-left: tp-spacer(-4) !important;
    }

    .s\:row--wide > .col {
        padding-left: tp-spacer(4) !important;
    }

    .s\:row--flush {
        margin-left: 0 !important;
    }

    .s\:row--flush > .col {
        padding-left: 0 !important;
    }
}

@include tp-respond-above($tp-breakpoint__medium) {
    .m\:row {
        display: flex !important;
        flex-wrap: wrap !important;
        margin-left: tp-spacer(-2) !important;
    }
    .m\:row > .col {
        padding-left: tp-spacer(2) !important;
    }

    .m\:row--wide {
        margin-left: tp-spacer(-4) !important;
    }

    .m\:row--wide > .col {
        padding-left: tp-spacer(4) !important;
    }

    .m\:row--flush {
        margin-left: 0 !important;
    }

    .m\:row--flush > .col {
        padding-left: 0 !important;
    }
}

@include tp-respond-above($tp-breakpoint__large) {
    .l\:row {
        display: flex !important;
        flex-wrap: wrap !important;
        margin-left: tp-spacer(-2) !important;
    }
    .l\:row > .col {
        padding-left: tp-spacer(2) !important;
    }

    .l\:row--wide {
        margin-left: tp-spacer(-4) !important;
    }

    .l\:row--wide > .col {
        padding-left: tp-spacer(4) !important;
    }

    .l\:row--flush {
        margin-left: 0 !important;
    }

    .l\:row--flush > .col {
        padding-left: 0 !important;
    }
}
