<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Utilities</title>
    <link rel="stylesheet" href="docs.css">
</head>
<body>
    <main class="flex h-100">
        <nav class="flex-none w5 ph4 pv5 overflow-y-auto dn l:db">
            <h3 class="b">Utilities</h3>
            <ul>
                {{#each this}}
                    <li class="ttc">
                        <a class="tp-link--secondary" href="#{{title}}">{{formatTitle title}}</a>
                    </li>
                {{/each}}
            </ul>
        </nav>
        <div id="content" class="pt4 m:pt5 pb5 ph3 l:ph0 flex-auto overflow-y-auto">
            <div class="mw7 center">
                <h1 class="tp-title-1 mb3">Thumbprint Utilities</h1>
                <p class="tp-title-3 normal mb4">Atomic classes for composing layouts.</p>
                <div class="longread">
                    {{#each this}}
                        {{{content}}}
                    {{/each}}
                </div>
            </div>
        </div>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/prismjs@1.15.0/prism.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/clipboard@2/dist/clipboard.min.js"></script>
    <script>

        var clipboard = new ClipboardJS('.clipboard', {
            target: function(trigger) {
                return trigger;
            }
        });

        clipboard.on('success', function(e) {
            e.trigger.classList.add("success")
            setTimeout(function(){
                e.trigger.classList.remove("success")
            }, 2000)
            e.clearSelection();
        });

    </script>
</body>
</html>