<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Utilities</title>
    <link rel="stylesheet" href="docs.css">
</head>
<body>
    <main class="flex h-100">
        <nav class="flex-none w5 ph4 pv5 overflow-y-auto dn l:db">
            <h3 class="b">Utilities</h3>
            <ul>
                {{#each this}}
                    <li class="ttc">
                        <a class="tp-link--secondary" href="#{{title}}">{{formatTitle title}}</a>
                    </li>
                {{/each}}
            </ul>
        </nav>
        <div id="content" class="pt4 m:pt5 pb5 ph3 l:ph0 flex-auto overflow-y-auto">
            <div class="mw7 center">
                <h1 class="tp-title-1 mb3">Thumbprint Utilities</h1>
                <div class="longread">
                    <p class="tp-title-3 normal mb4">Atomic classes for composing layouts.</p>
                    <ul>
                        <li>Classes with a number immediately after the letter reference a scale:
                            <ul>
                                <li><code>w2 = width: 32px;</code></li>
                                <li><code>br2 = border-radius: 4px;</code></li>
                            </ul>
                        </li>
                        <li>Classes with a dash immediately after the letter reference a literal value:
                            <ul>
                                <li><code>bw-3 = border-width: 3px;</code></li>
                                <li><code>w-1/4 = width: 25%;</code></li>
                            </ul>
                         </li>
                        <li>Classes in the coordinate package with a negative value have the dash at the end:
                            <ul>
                                <li><code>bw-3 = border-width: 3px;</code></li>
                                <li><code>w-1/4 = width: 25%;</code></li>
                            </ul>
                         </li>
                        <li>All classes are <code>!important</code>. For brevity it's not documented below.</li>
                    </ul>

                    {{#each this}}
                        {{{content}}}
                    {{/each}}
                </div>
            </div>
        </div>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/clipboard@2/dist/clipboard.min.js"></script>
    <script>

        var clipboard = new ClipboardJS('.clipboard', {
            target: function(trigger) {
                return trigger;
            }
        });

        clipboard.on('success', function(e) {
            e.trigger.classList.add("success")
            setTimeout(function(){
                e.trigger.classList.remove("success")
            }, 2000)
            e.clearSelection();
        });

    </script>
</body>
</html>