@import '@thumbtack/thumbprint-tokens/dist/scss/_index';
@import '@thumbtack/tp-ui-core-mixin/_index';

.bg-center {
    background-repeat: no-repeat !important;
    background-position: center center !important;
}

.bg-top {
    background-repeat: no-repeat !important;
    background-position: top center !important;
}

.bg-right {
    background-repeat: no-repeat !important;
    background-position: center right !important;
}

.bg-bottom {
    background-repeat: no-repeat !important;
    background-position: bottom center !important;
}

.bg-left {
    background-repeat: no-repeat !important;
    background-position: center left !important;
}

@include tp-respond-above($tp-breakpoint__small) {
    .s\:bg-center {
        background-repeat: no-repeat !important;
        background-position: center center !important;
    }

    .s\:bg-top {
        background-repeat: no-repeat !important;
        background-position: top center !important;
    }

    .s\:bg-right {
        background-repeat: no-repeat !important;
        background-position: center right !important;
    }

    .s\:bg-bottom {
        background-repeat: no-repeat !important;
        background-position: bottom center !important;
    }

    .s\:bg-left {
        background-repeat: no-repeat !important;
        background-position: center left !important;
    }
}

@include tp-respond-above($tp-breakpoint__medium) {
    .m\:bg-center {
        background-repeat: no-repeat !important;
        background-position: center center !important;
    }

    .m\:bg-top {
        background-repeat: no-repeat !important;
        background-position: top center !important;
    }

    .m\:bg-right {
        background-repeat: no-repeat !important;
        background-position: center right !important;
    }

    .m\:bg-bottom {
        background-repeat: no-repeat !important;
        background-position: bottom center !important;
    }

    .m\:bg-left {
        background-repeat: no-repeat !important;
        background-position: center left !important;
    }
}

@include tp-respond-above($tp-breakpoint__large) {
    .l\:bg-center {
        background-repeat: no-repeat !important;
        background-position: center center !important;
    }

    .l\:bg-top {
        background-repeat: no-repeat !important;
        background-position: top center !important;
    }

    .l\:bg-right {
        background-repeat: no-repeat !important;
        background-position: center right !important;
    }

    .l\:bg-bottom {
        background-repeat: no-repeat !important;
        background-position: bottom center !important;
    }

    .l\:bg-left {
        background-repeat: no-repeat !important;
        background-position: center left !important;
    }
}
