@import './node_modules/@thumbtack/thumbprint-tokens/dist/scss/_index';
@import './node_modules/@thumbtack/tp-ui-core-function/_index';
@import './node_modules/@thumbtack/tp-ui-core-mixin/_index';

.cols {
    display: flex;
    flex-wrap: wrap;
    margin-left: tp-spacer(-2);
}
.cols .col {
    padding-left: tp-spacer(2);
}

.cols--wide {
    margin-left: tp-spacer(-4);
}

.cols--wide .col {
    padding-left: tp-spacer(4);
}

.cols--flush {
    margin-left: 0;
}

.cols--flush .col {
    padding-left: 0;
}

@include tp-respond-above($tp-breakpoint__small) {
    .s\:cols {
        display: flex;
        flex-wrap: wrap;
        margin-left: tp-spacer(-2);
    }
    .s\:cols .col {
        padding-left: tp-spacer(2);
    }

    .s\:cols--wide {
        margin-left: tp-spacer(-4);
    }

    .s\:cols--wide .col {
        padding-left: tp-spacer(4);
    }

    .s\:cols--flush {
        margin-left: 0;
    }

    .s\:cols--flush .col {
        padding-left: 0;
    }
}

@include tp-respond-above($tp-breakpoint__medium) {
    .m\:cols {
        display: flex;
        flex-wrap: wrap;
        margin-left: tp-spacer(-2);
    }
    .m\:cols .col {
        padding-left: tp-spacer(2);
    }

    .m\:cols--wide {
        margin-left: tp-spacer(-4);
    }

    .m\:cols--wide .col {
        padding-left: tp-spacer(4);
    }

    .m\:cols--flush {
        margin-left: 0;
    }

    .m\:cols--flush .col {
        padding-left: 0;
    }
}

@include tp-respond-above($tp-breakpoint__large) {
    .l\:cols {
        display: flex;
        flex-wrap: wrap;
        margin-left: tp-spacer(-2);
    }
    .l\:cols .col {
        padding-left: tp-spacer(2);
    }

    .l\:cols--wide {
        margin-left: tp-spacer(-4);
    }

    .l\:cols--wide .col {
        padding-left: tp-spacer(4);
    }

    .l\:cols--flush {
        margin-left: 0;
    }

    .l\:cols--flush .col {
        padding-left: 0;
    }
}
