@import './node_modules/@thumbtack/thumbprint-tokens/dist/scss/_index';
@import './node_modules/@thumbtack/tp-ui-core-function/_index';
@import './node_modules/@thumbtack/tp-ui-core-mixin/_index';

.top-0 {
    top: 0 !important;
}
.right-0 {
    right: 0 !important;
}
.bottom-0 {
    bottom: 0 !important;
}
.left-0 {
    left: 0 !important;
}

.top-1 {
    top: tp-spacer(1) !important;
}
.right-1 {
    right: tp-spacer(1) !important;
}
.bottom-1 {
    bottom: tp-spacer(1) !important;
}
.left-1 {
    left: tp-spacer(1) !important;
}

.top-2 {
    top: tp-spacer(2) !important;
}
.right-2 {
    right: tp-spacer(2) !important;
}
.bottom-2 {
    bottom: tp-spacer(2) !important;
}
.left-2 {
    left: tp-spacer(2) !important;
}

.top--1 {
    top: tp-spacer(-1) !important;
}
.right--1 {
    right: tp-spacer(-1) !important;
}
.bottom--1 {
    bottom: tp-spacer(-1) !important;
}
.left--1 {
    left: tp-spacer(-1) !important;
}

.top--2 {
    top: tp-spacer(-2) !important;
}
.right--2 {
    right: tp-spacer(-2) !important;
}
.bottom--2 {
    bottom: tp-spacer(-2) !important;
}
.left--2 {
    left: tp-spacer(-2) !important;
}

.absolute--fill {
    top: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    left: 0 !important;
}

@include tp-respond-above($tp-breakpoint__small) {
    .s\:top-0 {
        top: 0 !important;
    }
    .s\:left-0 {
        left: 0 !important;
    }
    .s\:right-0 {
        right: 0 !important;
    }
    .s\:bottom-0 {
        bottom: 0 !important;
    }
    .s\:top-1 {
        top: tp-spacer(1) !important;
    }
    .s\:left-1 {
        left: tp-spacer(1) !important;
    }
    .s\:right-1 {
        right: tp-spacer(1) !important;
    }
    .s\:bottom-1 {
        bottom: tp-spacer(1) !important;
    }
    .s\:top-2 {
        top: tp-spacer(2) !important;
    }
    .s\:left-2 {
        left: tp-spacer(2) !important;
    }
    .s\:right-2 {
        right: tp-spacer(2) !important;
    }
    .s\:bottom-2 {
        bottom: tp-spacer(2) !important;
    }
    .s\:top--1 {
        top: tp-spacer(-1) !important;
    }
    .s\:right--1 {
        right: tp-spacer(-1) !important;
    }
    .s\:bottom--1 {
        bottom: tp-spacer(-1) !important;
    }
    .s\:left--1 {
        left: tp-spacer(-1) !important;
    }
    .s\:top--2 {
        top: tp-spacer(-2) !important;
    }
    .s\:right--2 {
        right: tp-spacer(-2) !important;
    }
    .s\:bottom--2 {
        bottom: tp-spacer(-2) !important;
    }
    .s\:left--2 {
        left: tp-spacer(-2) !important;
    }
    .s\:absolute--fill {
        top: 0 !important;
        right: 0 !important;
        bottom: 0 !important;
        left: 0 !important;
    }
}

@include tp-respond-above($tp-breakpoint__medium) {
    .m\:top-0 {
        top: 0 !important;
    }
    .m\:left-0 {
        left: 0 !important;
    }
    .m\:right-0 {
        right: 0 !important;
    }
    .m\:bottom-0 {
        bottom: 0 !important;
    }
    .m\:top-1 {
        top: tp-spacer(1) !important;
    }
    .m\:left-1 {
        left: tp-spacer(1) !important;
    }
    .m\:right-1 {
        right: tp-spacer(1) !important;
    }
    .m\:bottom-1 {
        bottom: tp-spacer(1) !important;
    }
    .m\:top-2 {
        top: tp-spacer(2) !important;
    }
    .m\:left-2 {
        left: tp-spacer(2) !important;
    }
    .m\:right-2 {
        right: tp-spacer(2) !important;
    }
    .m\:bottom-2 {
        bottom: tp-spacer(2) !important;
    }
    .m\:top--1 {
        top: tp-spacer(-1) !important;
    }
    .m\:right--1 {
        right: tp-spacer(-1) !important;
    }
    .m\:bottom--1 {
        bottom: tp-spacer(-1) !important;
    }
    .m\:left--1 {
        left: tp-spacer(-1) !important;
    }
    .m\:top--2 {
        top: tp-spacer(-2) !important;
    }
    .m\:right--2 {
        right: tp-spacer(-2) !important;
    }
    .m\:bottom--2 {
        bottom: tp-spacer(-2) !important;
    }
    .m\:left--2 {
        left: tp-spacer(-2) !important;
    }
    .m\:absolute--fill {
        top: 0 !important;
        right: 0 !important;
        bottom: 0 !important;
        left: 0 !important;
    }
}

@include tp-respond-above($tp-breakpoint__large) {
    .l\:top-0 {
        top: 0 !important;
    }
    .l\:left-0 {
        left: 0 !important;
    }
    .l\:right-0 {
        right: 0 !important;
    }
    .l\:bottom-0 {
        bottom: 0 !important;
    }
    .l\:top-1 {
        top: tp-spacer(1) !important;
    }
    .l\:left-1 {
        left: tp-spacer(1) !important;
    }
    .l\:right-1 {
        right: tp-spacer(1) !important;
    }
    .l\:bottom-1 {
        bottom: tp-spacer(1) !important;
    }
    .l\:top-2 {
        top: tp-spacer(2) !important;
    }
    .l\:left-2 {
        left: tp-spacer(2) !important;
    }
    .l\:right-2 {
        right: tp-spacer(2) !important;
    }
    .l\:bottom-2 {
        bottom: tp-spacer(2) !important;
    }
    .l\:top--1 {
        top: tp-spacer(-1) !important;
    }
    .l\:right--1 {
        right: tp-spacer(-1) !important;
    }
    .l\:bottom--1 {
        bottom: tp-spacer(-1) !important;
    }
    .l\:left--1 {
        left: tp-spacer(-1) !important;
    }
    .l\:top--2 {
        top: tp-spacer(-2) !important;
    }
    .l\:right--2 {
        right: tp-spacer(-2) !important;
    }
    .l\:bottom--2 {
        bottom: tp-spacer(-2) !important;
    }
    .l\:left--2 {
        left: tp-spacer(-2) !important;
    }
    .l\:absolute--fill {
        top: 0 !important;
        right: 0 !important;
        bottom: 0 !important;
        left: 0 !important;
    }
}
