@import './node_modules/@thumbtack/thumbprint-tokens/dist/scss/_index';

@import './node_modules/@thumbtack/tp-ui-core-mixin/_index';

.dn {
    display: none !important;
}
.di {
    display: inline !important;
}
.db {
    display: block !important;
}
.dib {
    display: inline-block !important;
}
.dit {
    display: inline-table !important;
}
.dt {
    display: table !important;
}
.dtc {
    display: table-cell !important;
}
.dt-row {
    display: table-row !important;
}
.dt-row-group {
    display: table-row-group !important;
}
.dt-column {
    display: table-column !important;
}
.dt-column-group {
    display: table-column-group !important;
}
.dt--fixed {
    table-layout: fixed !important;
    width: 100% !important;
}

@include tp-respond-above($tp-breakpoint__small) {
    .s\:dn {
        display: none !important;
    }
    .s\:di {
        display: inline !important;
    }
    .s\:db {
        display: block !important;
    }
    .s\:dib {
        display: inline-block !important;
    }
    .s\:dit {
        display: inline-table !important;
    }
    .s\:dt {
        display: table !important;
    }
    .s\:dtc {
        display: table-cell !important;
    }
    .s\:dt-row {
        display: table-row !important;
    }
    .s\:dt-row-group {
        display: table-row-group !important;
    }
    .s\:dt-column {
        display: table-column !important;
    }
    .s\:dt-column-group {
        display: table-column-group !important;
    }

    .s\:dt--fixed {
        table-layout: fixed !important;
        width: 100% !important;
    }
}

@include tp-respond-above($tp-breakpoint__medium) {
    .m\:dn {
        display: none !important;
    }
    .m\:di {
        display: inline !important;
    }
    .m\:db {
        display: block !important;
    }
    .m\:dib {
        display: inline-block !important;
    }
    .m\:dit {
        display: inline-table !important;
    }
    .m\:dt {
        display: table !important;
    }
    .m\:dtc {
        display: table-cell !important;
    }
    .m\:dt-row {
        display: table-row !important;
    }
    .m\:dt-row-group {
        display: table-row-group !important;
    }
    .m\:dt-column {
        display: table-column !important;
    }
    .m\:dt-column-group {
        display: table-column-group !important;
    }

    .m\:dt--fixed {
        table-layout: fixed !important;
        width: 100% !important;
    }
}

@include tp-respond-above($tp-breakpoint__large) {
    .l\:dn {
        display: none !important;
    }
    .l\:di {
        display: inline !important;
    }
    .l\:db {
        display: block !important;
    }
    .l\:dib {
        display: inline-block !important;
    }
    .l\:dit {
        display: inline-table !important;
    }
    .l\:dt {
        display: table !important;
    }
    .l\:dtc {
        display: table-cell !important;
    }
    .l\:dt-row {
        display: table-row !important;
    }
    .l\:dt-row-group {
        display: table-row-group !important;
    }
    .l\:dt-column {
        display: table-column !important;
    }
    .l\:dt-column-group {
        display: table-column-group !important;
    }

    .l\:dt--fixed {
        table-layout: fixed !important;
        width: 100% !important;
    }
}
