@import '@thumbtack/thumbprint-tokens/dist/scss/_index';
@import '@thumbtack/tp-ui-core-function/_index';
@import '@thumbtack/tp-ui-core-mixin/_index';

.rotate-45 {
    transform: rotate(45deg) !important;
}
.rotate-90 {
    transform: rotate(90deg) !important;
}
.rotate-135 {
    transform: rotate(135deg) !important;
}
.rotate-180 {
    transform: rotate(180deg) !important;
}
.rotate-225 {
    transform: rotate(225deg) !important;
}
.rotate-270 {
    transform: rotate(270deg) !important;
}
.rotate-315 {
    transform: rotate(315deg) !important;
}

@include tp-respond-above($tp-breakpoint__small) {
    .s\:rotate-45 {
        transform: rotate(45deg) !important;
    }
    .s\:rotate-90 {
        transform: rotate(90deg) !important;
    }
    .s\:rotate-135 {
        transform: rotate(135deg) !important;
    }
    .s\:rotate-180 {
        transform: rotate(180deg) !important;
    }
    .s\:rotate-225 {
        transform: rotate(225deg) !important;
    }
    .s\:rotate-270 {
        transform: rotate(270deg) !important;
    }
    .s\:rotate-315 {
        transform: rotate(315deg) !important;
    }
}

@include tp-respond-above($tp-breakpoint__medium) {
    .m\:rotate-45 {
        transform: rotate(45deg) !important;
    }
    .m\:rotate-90 {
        transform: rotate(90deg) !important;
    }
    .m\:rotate-135 {
        transform: rotate(135deg) !important;
    }
    .m\:rotate-180 {
        transform: rotate(180deg) !important;
    }
    .m\:rotate-225 {
        transform: rotate(225deg) !important;
    }
    .m\:rotate-270 {
        transform: rotate(270deg) !important;
    }
    .m\:rotate-315 {
        transform: rotate(315deg) !important;
    }
}

@include tp-respond-above($tp-breakpoint__large) {
    .l\:rotate-45 {
        transform: rotate(45deg) !important;
    }
    .l\:rotate-90 {
        transform: rotate(90deg) !important;
    }
    .l\:rotate-135 {
        transform: rotate(135deg) !important;
    }
    .l\:rotate-180 {
        transform: rotate(180deg) !important;
    }
    .l\:rotate-225 {
        transform: rotate(225deg) !important;
    }
    .l\:rotate-270 {
        transform: rotate(270deg) !important;
    }
    .l\:rotate-315 {
        transform: rotate(315deg) !important;
    }
}
