@import "@thumbtack/thumbprint-tokens/dist/scss/_index";
@import '@thumbtack/tp-ui-core-function/_index';
@import '@thumbtack/tp-ui-core-mixin/_index';

.pa0 {
    padding: 0;
}
.pa1 {
    padding: tp-spacer(0.5);
}
.pa2 {
    padding: tp-spacer(1);
}
.pa3 {
    padding: tp-spacer(2);
}
.pa4 {
    padding: tp-spacer(4);
}
.pa5 {
    padding: tp-spacer(8);
}
.pa6 {
    padding: tp-spacer(16);
}
.pa7 {
    padding: tp-spacer(32);
}

.pl0 {
    padding-left: 0;
}
.pl1 {
    padding-left: tp-spacer(0.5);
}
.pl2 {
    padding-left: tp-spacer(1);
}
.pl3 {
    padding-left: tp-spacer(2);
}
.pl4 {
    padding-left: tp-spacer(4);
}
.pl5 {
    padding-left: tp-spacer(8);
}
.pl6 {
    padding-left: tp-spacer(16);
}
.pl7 {
    padding-left: tp-spacer(32);
}

.pr0 {
    padding-right: 0;
}
.pr1 {
    padding-right: tp-spacer(0.5);
}
.pr2 {
    padding-right: tp-spacer(1);
}
.pr3 {
    padding-right: tp-spacer(2);
}
.pr4 {
    padding-right: tp-spacer(4);
}
.pr5 {
    padding-right: tp-spacer(8);
}
.pr6 {
    padding-right: tp-spacer(16);
}
.pr7 {
    padding-right: tp-spacer(32);
}

.pb0 {
    padding-bottom: 0;
}
.pb1 {
    padding-bottom: tp-spacer(0.5);
}
.pb2 {
    padding-bottom: tp-spacer(1);
}
.pb3 {
    padding-bottom: tp-spacer(2);
}
.pb4 {
    padding-bottom: tp-spacer(4);
}
.pb5 {
    padding-bottom: tp-spacer(8);
}
.pb6 {
    padding-bottom: tp-spacer(16);
}
.pb7 {
    padding-bottom: tp-spacer(32);
}

.pt0 {
    padding-top: 0;
}
.pt1 {
    padding-top: tp-spacer(0.5);
}
.pt2 {
    padding-top: tp-spacer(1);
}
.pt3 {
    padding-top: tp-spacer(2);
}
.pt4 {
    padding-top: tp-spacer(4);
}
.pt5 {
    padding-top: tp-spacer(8);
}
.pt6 {
    padding-top: tp-spacer(16);
}
.pt7 {
    padding-top: tp-spacer(32);
}

.pv0 {
    padding-top: 0;
    padding-bottom: 0;
}
.pv1 {
    padding-top: tp-spacer(0.5);
    padding-bottom: tp-spacer(0.5);
}
.pv2 {
    padding-top: tp-spacer(1);
    padding-bottom: tp-spacer(1);
}
.pv3 {
    padding-top: tp-spacer(2);
    padding-bottom: tp-spacer(2);
}
.pv4 {
    padding-top: tp-spacer(4);
    padding-bottom: tp-spacer(4);
}
.pv5 {
    padding-top: tp-spacer(8);
    padding-bottom: tp-spacer(8);
}
.pv6 {
    padding-top: tp-spacer(16);
    padding-bottom: tp-spacer(16);
}

.pv7 {
    padding-top: tp-spacer(32);
    padding-bottom: tp-spacer(32);
}

.ph0 {
    padding-left: 0;
    padding-right: 0;
}

.ph1 {
    padding-left: tp-spacer(0.5);
    padding-right: tp-spacer(0.5);
}

.ph2 {
    padding-left: tp-spacer(1);
    padding-right: tp-spacer(1);
}

.ph3 {
    padding-left: tp-spacer(2);
    padding-right: tp-spacer(2);
}

.ph4 {
    padding-left: tp-spacer(4);
    padding-right: tp-spacer(4);
}

.ph5 {
    padding-left: tp-spacer(8);
    padding-right: tp-spacer(8);
}

.ph6 {
    padding-left: tp-spacer(16);
    padding-right: tp-spacer(16);
}

.ph7 {
    padding-left: tp-spacer(32);
    padding-right: tp-spacer(32);
}

.ma0 {
    margin: 0;
}
.ma1 {
    margin: tp-spacer(0.5);
}
.ma2 {
    margin: tp-spacer(1);
}
.ma3 {
    margin: tp-spacer(2);
}
.ma4 {
    margin: tp-spacer(4);
}
.ma5 {
    margin: tp-spacer(8);
}
.ma6 {
    margin: tp-spacer(16);
}
.ma7 {
    margin: tp-spacer(32);
}

.ml0 {
    margin-left: 0;
}
.ml1 {
    margin-left: tp-spacer(0.5);
}
.ml2 {
    margin-left: tp-spacer(1);
}
.ml3 {
    margin-left: tp-spacer(2);
}
.ml4 {
    margin-left: tp-spacer(4);
}
.ml5 {
    margin-left: tp-spacer(8);
}
.ml6 {
    margin-left: tp-spacer(16);
}
.ml7 {
    margin-left: tp-spacer(32);
}

.mr0 {
    margin-right: 0;
}
.mr1 {
    margin-right: tp-spacer(0.5);
}
.mr2 {
    margin-right: tp-spacer(1);
}
.mr3 {
    margin-right: tp-spacer(2);
}
.mr4 {
    margin-right: tp-spacer(4);
}
.mr5 {
    margin-right: tp-spacer(8);
}
.mr6 {
    margin-right: tp-spacer(16);
}
.mr7 {
    margin-right: tp-spacer(32);
}

.mb0 {
    margin-bottom: 0;
}
.mb1 {
    margin-bottom: tp-spacer(0.5);
}
.mb2 {
    margin-bottom: tp-spacer(1);
}
.mb3 {
    margin-bottom: tp-spacer(2);
}
.mb4 {
    margin-bottom: tp-spacer(4);
}
.mb5 {
    margin-bottom: tp-spacer(8);
}
.mb6 {
    margin-bottom: tp-spacer(16);
}
.mb7 {
    margin-bottom: tp-spacer(32);
}

.mt0 {
    margin-top: 0;
}
.mt1 {
    margin-top: tp-spacer(0.5);
}
.mt2 {
    margin-top: tp-spacer(1);
}
.mt3 {
    margin-top: tp-spacer(2);
}
.mt4 {
    margin-top: tp-spacer(4);
}
.mt5 {
    margin-top: tp-spacer(8);
}
.mt6 {
    margin-top: tp-spacer(16);
}
.mt7 {
    margin-top: tp-spacer(32);
}

.mv0 {
    margin-top: 0;
    margin-bottom: 0;
}
.mv1 {
    margin-top: tp-spacer(0.5);
    margin-bottom: tp-spacer(0.5);
}
.mv2 {
    margin-top: tp-spacer(1);
    margin-bottom: tp-spacer(1);
}
.mv3 {
    margin-top: tp-spacer(2);
    margin-bottom: tp-spacer(2);
}
.mv4 {
    margin-top: tp-spacer(4);
    margin-bottom: tp-spacer(4);
}
.mv5 {
    margin-top: tp-spacer(8);
    margin-bottom: tp-spacer(8);
}
.mv6 {
    margin-top: tp-spacer(16);
    margin-bottom: tp-spacer(16);
}
.mv7 {
    margin-top: tp-spacer(32);
    margin-bottom: tp-spacer(32);
}

.mh0 {
    margin-left: 0;
    margin-right: 0;
}
.mh1 {
    margin-left: tp-spacer(0.5);
    margin-right: tp-spacer(0.5);
}
.mh2 {
    margin-left: tp-spacer(1);
    margin-right: tp-spacer(1);
}
.mh3 {
    margin-left: tp-spacer(2);
    margin-right: tp-spacer(2);
}
.mh4 {
    margin-left: tp-spacer(4);
    margin-right: tp-spacer(4);
}
.mh5 {
    margin-left: tp-spacer(8);
    margin-right: tp-spacer(8);
}
.mh6 {
    margin-left: tp-spacer(16);
    margin-right: tp-spacer(16);
}
.mh7 {
    margin-left: tp-spacer(32);
    margin-right: tp-spacer(32);
}

@include tp-respond-above($tp-breakpoint__small) {
    .s\:pa0 {
        padding: 0;
    }
    .s\:pa1 {
        padding: tp-spacer(0.5);
    }
    .s\:pa2 {
        padding: tp-spacer(1);
    }
    .s\:pa3 {
        padding: tp-spacer(2);
    }
    .s\:pa4 {
        padding: tp-spacer(4);
    }
    .s\:pa5 {
        padding: tp-spacer(8);
    }
    .s\:pa6 {
        padding: tp-spacer(16);
    }
    .s\:pa7 {
        padding: tp-spacer(32);
    }

    .s\:pl0 {
        padding-left: 0;
    }
    .s\:pl1 {
        padding-left: tp-spacer(0.5);
    }
    .s\:pl2 {
        padding-left: tp-spacer(1);
    }
    .s\:pl3 {
        padding-left: tp-spacer(2);
    }
    .s\:pl4 {
        padding-left: tp-spacer(4);
    }
    .s\:pl5 {
        padding-left: tp-spacer(8);
    }
    .s\:pl6 {
        padding-left: tp-spacer(16);
    }
    .s\:pl7 {
        padding-left: tp-spacer(32);
    }

    .s\:pr0 {
        padding-right: 0;
    }
    .s\:pr1 {
        padding-right: tp-spacer(0.5);
    }
    .s\:pr2 {
        padding-right: tp-spacer(1);
    }
    .s\:pr3 {
        padding-right: tp-spacer(2);
    }
    .s\:pr4 {
        padding-right: tp-spacer(4);
    }
    .s\:pr5 {
        padding-right: tp-spacer(8);
    }
    .s\:pr6 {
        padding-right: tp-spacer(16);
    }
    .s\:pr7 {
        padding-right: tp-spacer(32);
    }

    .s\:pb0 {
        padding-bottom: 0;
    }
    .s\:pb1 {
        padding-bottom: tp-spacer(0.5);
    }
    .s\:pb2 {
        padding-bottom: tp-spacer(1);
    }
    .s\:pb3 {
        padding-bottom: tp-spacer(2);
    }
    .s\:pb4 {
        padding-bottom: tp-spacer(4);
    }
    .s\:pb5 {
        padding-bottom: tp-spacer(8);
    }
    .s\:pb6 {
        padding-bottom: tp-spacer(16);
    }
    .s\:pb7 {
        padding-bottom: tp-spacer(32);
    }

    .s\:pt0 {
        padding-top: 0;
    }
    .s\:pt1 {
        padding-top: tp-spacer(0.5);
    }
    .s\:pt2 {
        padding-top: tp-spacer(1);
    }
    .s\:pt3 {
        padding-top: tp-spacer(2);
    }
    .s\:pt4 {
        padding-top: tp-spacer(4);
    }
    .s\:pt5 {
        padding-top: tp-spacer(8);
    }
    .s\:pt6 {
        padding-top: tp-spacer(16);
    }
    .s\:pt7 {
        padding-top: tp-spacer(32);
    }

    .s\:pv0 {
        padding-top: 0;
        padding-bottom: 0;
    }
    .s\:pv1 {
        padding-top: tp-spacer(0.5);
        padding-bottom: tp-spacer(0.5);
    }
    .s\:pv2 {
        padding-top: tp-spacer(1);
        padding-bottom: tp-spacer(1);
    }
    .s\:pv3 {
        padding-top: tp-spacer(2);
        padding-bottom: tp-spacer(2);
    }
    .s\:pv4 {
        padding-top: tp-spacer(4);
        padding-bottom: tp-spacer(4);
    }
    .s\:pv5 {
        padding-top: tp-spacer(8);
        padding-bottom: tp-spacer(8);
    }
    .s\:pv6 {
        padding-top: tp-spacer(16);
        padding-bottom: tp-spacer(16);
    }
    .s\:pv7 {
        padding-top: tp-spacer(32);
        padding-bottom: tp-spacer(32);
    }
    .s\:ph0 {
        padding-left: 0;
        padding-right: 0;
    }
    .s\:ph1 {
        padding-left: tp-spacer(0.5);
        padding-right: tp-spacer(0.5);
    }
    .s\:ph2 {
        padding-left: tp-spacer(1);
        padding-right: tp-spacer(1);
    }
    .s\:ph3 {
        padding-left: tp-spacer(2);
        padding-right: tp-spacer(2);
    }
    .s\:ph4 {
        padding-left: tp-spacer(4);
        padding-right: tp-spacer(4);
    }
    .s\:ph5 {
        padding-left: tp-spacer(8);
        padding-right: tp-spacer(8);
    }
    .s\:ph6 {
        padding-left: tp-spacer(16);
        padding-right: tp-spacer(16);
    }
    .s\:ph7 {
        padding-left: tp-spacer(32);
        padding-right: tp-spacer(32);
    }

    .s\:ma0 {
        margin: 0;
    }
    .s\:ma1 {
        margin: tp-spacer(0.5);
    }
    .s\:ma2 {
        margin: tp-spacer(1);
    }
    .s\:ma3 {
        margin: tp-spacer(2);
    }
    .s\:ma4 {
        margin: tp-spacer(4);
    }
    .s\:ma5 {
        margin: tp-spacer(8);
    }
    .s\:ma6 {
        margin: tp-spacer(16);
    }
    .s\:ma7 {
        margin: tp-spacer(32);
    }

    .s\:ml0 {
        margin-left: 0;
    }
    .s\:ml1 {
        margin-left: tp-spacer(0.5);
    }
    .s\:ml2 {
        margin-left: tp-spacer(1);
    }
    .s\:ml3 {
        margin-left: tp-spacer(2);
    }
    .s\:ml4 {
        margin-left: tp-spacer(4);
    }
    .s\:ml5 {
        margin-left: tp-spacer(8);
    }
    .s\:ml6 {
        margin-left: tp-spacer(16);
    }
    .s\:ml7 {
        margin-left: tp-spacer(32);
    }

    .s\:mr0 {
        margin-right: 0;
    }
    .s\:mr1 {
        margin-right: tp-spacer(0.5);
    }
    .s\:mr2 {
        margin-right: tp-spacer(1);
    }
    .s\:mr3 {
        margin-right: tp-spacer(2);
    }
    .s\:mr4 {
        margin-right: tp-spacer(4);
    }
    .s\:mr5 {
        margin-right: tp-spacer(8);
    }
    .s\:mr6 {
        margin-right: tp-spacer(16);
    }
    .s\:mr7 {
        margin-right: tp-spacer(32);
    }

    .s\:mb0 {
        margin-bottom: 0;
    }
    .s\:mb1 {
        margin-bottom: tp-spacer(0.5);
    }
    .s\:mb2 {
        margin-bottom: tp-spacer(1);
    }
    .s\:mb3 {
        margin-bottom: tp-spacer(2);
    }
    .s\:mb4 {
        margin-bottom: tp-spacer(4);
    }
    .s\:mb5 {
        margin-bottom: tp-spacer(8);
    }
    .s\:mb6 {
        margin-bottom: tp-spacer(16);
    }
    .s\:mb7 {
        margin-bottom: tp-spacer(32);
    }

    .s\:mt0 {
        margin-top: 0;
    }
    .s\:mt1 {
        margin-top: tp-spacer(0.5);
    }
    .s\:mt2 {
        margin-top: tp-spacer(1);
    }
    .s\:mt3 {
        margin-top: tp-spacer(2);
    }
    .s\:mt4 {
        margin-top: tp-spacer(4);
    }
    .s\:mt5 {
        margin-top: tp-spacer(8);
    }
    .s\:mt6 {
        margin-top: tp-spacer(16);
    }
    .s\:mt7 {
        margin-top: tp-spacer(32);
    }

    .s\:mv0 {
        margin-top: 0;
        margin-bottom: 0;
    }
    .s\:mv1 {
        margin-top: tp-spacer(0.5);
        margin-bottom: tp-spacer(0.5);
    }
    .s\:mv2 {
        margin-top: tp-spacer(1);
        margin-bottom: tp-spacer(1);
    }
    .s\:mv3 {
        margin-top: tp-spacer(2);
        margin-bottom: tp-spacer(2);
    }
    .s\:mv4 {
        margin-top: tp-spacer(4);
        margin-bottom: tp-spacer(4);
    }
    .s\:mv5 {
        margin-top: tp-spacer(8);
        margin-bottom: tp-spacer(8);
    }
    .s\:mv6 {
        margin-top: tp-spacer(16);
        margin-bottom: tp-spacer(16);
    }
    .s\:mv7 {
        margin-top: tp-spacer(32);
        margin-bottom: tp-spacer(32);
    }

    .s\:mh0 {
        margin-left: 0;
        margin-right: 0;
    }
    .s\:mh1 {
        margin-left: tp-spacer(0.5);
        margin-right: tp-spacer(0.5);
    }
    .s\:mh2 {
        margin-left: tp-spacer(1);
        margin-right: tp-spacer(1);
    }
    .s\:mh3 {
        margin-left: tp-spacer(2);
        margin-right: tp-spacer(2);
    }
    .s\:mh4 {
        margin-left: tp-spacer(4);
        margin-right: tp-spacer(4);
    }
    .s\:mh5 {
        margin-left: tp-spacer(8);
        margin-right: tp-spacer(8);
    }
    .s\:mh6 {
        margin-left: tp-spacer(16);
        margin-right: tp-spacer(16);
    }
    .s\:mh7 {
        margin-left: tp-spacer(32);
        margin-right: tp-spacer(32);
    }
}

@include tp-respond-above($tp-breakpoint__medium) {
    .m\:pa0 {
        padding: 0;
    }
    .m\:pa1 {
        padding: tp-spacer(0.5);
    }
    .m\:pa2 {
        padding: tp-spacer(1);
    }
    .m\:pa3 {
        padding: tp-spacer(2);
    }
    .m\:pa4 {
        padding: tp-spacer(4);
    }
    .m\:pa5 {
        padding: tp-spacer(8);
    }
    .m\:pa6 {
        padding: tp-spacer(16);
    }
    .m\:pa7 {
        padding: tp-spacer(32);
    }

    .m\:pl0 {
        padding-left: 0;
    }
    .m\:pl1 {
        padding-left: tp-spacer(0.5);
    }
    .m\:pl2 {
        padding-left: tp-spacer(1);
    }
    .m\:pl3 {
        padding-left: tp-spacer(2);
    }
    .m\:pl4 {
        padding-left: tp-spacer(4);
    }
    .m\:pl5 {
        padding-left: tp-spacer(8);
    }
    .m\:pl6 {
        padding-left: tp-spacer(16);
    }
    .m\:pl7 {
        padding-left: tp-spacer(32);
    }

    .m\:pr0 {
        padding-right: 0;
    }
    .m\:pr1 {
        padding-right: tp-spacer(0.5);
    }
    .m\:pr2 {
        padding-right: tp-spacer(1);
    }
    .m\:pr3 {
        padding-right: tp-spacer(2);
    }
    .m\:pr4 {
        padding-right: tp-spacer(4);
    }
    .m\:pr5 {
        padding-right: tp-spacer(8);
    }
    .m\:pr6 {
        padding-right: tp-spacer(16);
    }
    .m\:pr7 {
        padding-right: tp-spacer(32);
    }

    .m\:pb0 {
        padding-bottom: 0;
    }
    .m\:pb1 {
        padding-bottom: tp-spacer(0.5);
    }
    .m\:pb2 {
        padding-bottom: tp-spacer(1);
    }
    .m\:pb3 {
        padding-bottom: tp-spacer(2);
    }
    .m\:pb4 {
        padding-bottom: tp-spacer(4);
    }
    .m\:pb5 {
        padding-bottom: tp-spacer(8);
    }
    .m\:pb6 {
        padding-bottom: tp-spacer(16);
    }
    .m\:pb7 {
        padding-bottom: tp-spacer(32);
    }

    .m\:pt0 {
        padding-top: 0;
    }
    .m\:pt1 {
        padding-top: tp-spacer(0.5);
    }
    .m\:pt2 {
        padding-top: tp-spacer(1);
    }
    .m\:pt3 {
        padding-top: tp-spacer(2);
    }
    .m\:pt4 {
        padding-top: tp-spacer(4);
    }
    .m\:pt5 {
        padding-top: tp-spacer(8);
    }
    .m\:pt6 {
        padding-top: tp-spacer(16);
    }
    .m\:pt7 {
        padding-top: tp-spacer(32);
    }

    .m\:pv0 {
        padding-top: 0;
        padding-bottom: 0;
    }
    .m\:pv1 {
        padding-top: tp-spacer(0.5);
        padding-bottom: tp-spacer(0.5);
    }
    .m\:pv2 {
        padding-top: tp-spacer(1);
        padding-bottom: tp-spacer(1);
    }
    .m\:pv3 {
        padding-top: tp-spacer(2);
        padding-bottom: tp-spacer(2);
    }
    .m\:pv4 {
        padding-top: tp-spacer(4);
        padding-bottom: tp-spacer(4);
    }
    .m\:pv5 {
        padding-top: tp-spacer(8);
        padding-bottom: tp-spacer(8);
    }
    .m\:pv6 {
        padding-top: tp-spacer(16);
        padding-bottom: tp-spacer(16);
    }
    .m\:pv7 {
        padding-top: tp-spacer(32);
        padding-bottom: tp-spacer(32);
    }

    .m\:ph0 {
        padding-left: 0;
        padding-right: 0;
    }
    .m\:ph1 {
        padding-left: tp-spacer(0.5);
        padding-right: tp-spacer(0.5);
    }
    .m\:ph2 {
        padding-left: tp-spacer(1);
        padding-right: tp-spacer(1);
    }
    .m\:ph3 {
        padding-left: tp-spacer(2);
        padding-right: tp-spacer(2);
    }
    .m\:ph4 {
        padding-left: tp-spacer(4);
        padding-right: tp-spacer(4);
    }
    .m\:ph5 {
        padding-left: tp-spacer(8);
        padding-right: tp-spacer(8);
    }
    .m\:ph6 {
        padding-left: tp-spacer(16);
        padding-right: tp-spacer(16);
    }
    .m\:ph7 {
        padding-left: tp-spacer(32);
        padding-right: tp-spacer(32);
    }

    .m\:ma0 {
        margin: 0;
    }
    .m\:ma1 {
        margin: tp-spacer(0.5);
    }
    .m\:ma2 {
        margin: tp-spacer(1);
    }
    .m\:ma3 {
        margin: tp-spacer(2);
    }
    .m\:ma4 {
        margin: tp-spacer(4);
    }
    .m\:ma5 {
        margin: tp-spacer(8);
    }
    .m\:ma6 {
        margin: tp-spacer(16);
    }
    .m\:ma7 {
        margin: tp-spacer(32);
    }

    .m\:ml0 {
        margin-left: 0;
    }
    .m\:ml1 {
        margin-left: tp-spacer(0.5);
    }
    .m\:ml2 {
        margin-left: tp-spacer(1);
    }
    .m\:ml3 {
        margin-left: tp-spacer(2);
    }
    .m\:ml4 {
        margin-left: tp-spacer(4);
    }
    .m\:ml5 {
        margin-left: tp-spacer(8);
    }
    .m\:ml6 {
        margin-left: tp-spacer(16);
    }
    .m\:ml7 {
        margin-left: tp-spacer(32);
    }

    .m\:mr0 {
        margin-right: 0;
    }
    .m\:mr1 {
        margin-right: tp-spacer(0.5);
    }
    .m\:mr2 {
        margin-right: tp-spacer(1);
    }
    .m\:mr3 {
        margin-right: tp-spacer(2);
    }
    .m\:mr4 {
        margin-right: tp-spacer(4);
    }
    .m\:mr5 {
        margin-right: tp-spacer(8);
    }
    .m\:mr6 {
        margin-right: tp-spacer(16);
    }
    .m\:mr7 {
        margin-right: tp-spacer(32);
    }

    .m\:mb0 {
        margin-bottom: 0;
    }
    .m\:mb1 {
        margin-bottom: tp-spacer(0.5);
    }
    .m\:mb2 {
        margin-bottom: tp-spacer(1);
    }
    .m\:mb3 {
        margin-bottom: tp-spacer(2);
    }
    .m\:mb4 {
        margin-bottom: tp-spacer(4);
    }
    .m\:mb5 {
        margin-bottom: tp-spacer(8);
    }
    .m\:mb6 {
        margin-bottom: tp-spacer(16);
    }
    .m\:mb7 {
        margin-bottom: tp-spacer(32);
    }

    .m\:mt0 {
        margin-top: 0;
    }
    .m\:mt1 {
        margin-top: tp-spacer(0.5);
    }
    .m\:mt2 {
        margin-top: tp-spacer(1);
    }
    .m\:mt3 {
        margin-top: tp-spacer(2);
    }
    .m\:mt4 {
        margin-top: tp-spacer(4);
    }
    .m\:mt5 {
        margin-top: tp-spacer(8);
    }
    .m\:mt6 {
        margin-top: tp-spacer(16);
    }
    .m\:mt7 {
        margin-top: tp-spacer(32);
    }

    .m\:mv0 {
        margin-top: 0;
        margin-bottom: 0;
    }
    .m\:mv1 {
        margin-top: tp-spacer(0.5);
        margin-bottom: tp-spacer(0.5);
    }
    .m\:mv2 {
        margin-top: tp-spacer(1);
        margin-bottom: tp-spacer(1);
    }
    .m\:mv3 {
        margin-top: tp-spacer(2);
        margin-bottom: tp-spacer(2);
    }
    .m\:mv4 {
        margin-top: tp-spacer(4);
        margin-bottom: tp-spacer(4);
    }
    .m\:mv5 {
        margin-top: tp-spacer(8);
        margin-bottom: tp-spacer(8);
    }
    .m\:mv6 {
        margin-top: tp-spacer(16);
        margin-bottom: tp-spacer(16);
    }
    .m\:mv7 {
        margin-top: tp-spacer(32);
        margin-bottom: tp-spacer(32);
    }

    .m\:mh0 {
        margin-left: 0;
        margin-right: 0;
    }
    .m\:mh1 {
        margin-left: tp-spacer(0.5);
        margin-right: tp-spacer(0.5);
    }
    .m\:mh2 {
        margin-left: tp-spacer(1);
        margin-right: tp-spacer(1);
    }
    .m\:mh3 {
        margin-left: tp-spacer(2);
        margin-right: tp-spacer(2);
    }
    .m\:mh4 {
        margin-left: tp-spacer(4);
        margin-right: tp-spacer(4);
    }
    .m\:mh5 {
        margin-left: tp-spacer(8);
        margin-right: tp-spacer(8);
    }
    .m\:mh6 {
        margin-left: tp-spacer(16);
        margin-right: tp-spacer(16);
    }
    .m\:mh7 {
        margin-left: tp-spacer(32);
        margin-right: tp-spacer(32);
    }
}

@include tp-respond-above($tp-breakpoint__large) {
    .l\:pa0 {
        padding: 0;
    }
    .l\:pa1 {
        padding: tp-spacer(0.5);
    }
    .l\:pa2 {
        padding: tp-spacer(1);
    }
    .l\:pa3 {
        padding: tp-spacer(2);
    }
    .l\:pa4 {
        padding: tp-spacer(4);
    }
    .l\:pa5 {
        padding: tp-spacer(8);
    }
    .l\:pa6 {
        padding: tp-spacer(16);
    }
    .l\:pa7 {
        padding: tp-spacer(32);
    }

    .l\:pl0 {
        padding-left: 0;
    }
    .l\:pl1 {
        padding-left: tp-spacer(0.5);
    }
    .l\:pl2 {
        padding-left: tp-spacer(1);
    }
    .l\:pl3 {
        padding-left: tp-spacer(2);
    }
    .l\:pl4 {
        padding-left: tp-spacer(4);
    }
    .l\:pl5 {
        padding-left: tp-spacer(8);
    }
    .l\:pl6 {
        padding-left: tp-spacer(16);
    }
    .l\:pl7 {
        padding-left: tp-spacer(32);
    }

    .l\:pr0 {
        padding-right: 0;
    }
    .l\:pr1 {
        padding-right: tp-spacer(0.5);
    }
    .l\:pr2 {
        padding-right: tp-spacer(1);
    }
    .l\:pr3 {
        padding-right: tp-spacer(2);
    }
    .l\:pr4 {
        padding-right: tp-spacer(4);
    }
    .l\:pr5 {
        padding-right: tp-spacer(8);
    }
    .l\:pr6 {
        padding-right: tp-spacer(16);
    }
    .l\:pr7 {
        padding-right: tp-spacer(32);
    }

    .l\:pb0 {
        padding-bottom: 0;
    }
    .l\:pb1 {
        padding-bottom: tp-spacer(0.5);
    }
    .l\:pb2 {
        padding-bottom: tp-spacer(1);
    }
    .l\:pb3 {
        padding-bottom: tp-spacer(2);
    }
    .l\:pb4 {
        padding-bottom: tp-spacer(4);
    }
    .l\:pb5 {
        padding-bottom: tp-spacer(8);
    }
    .l\:pb6 {
        padding-bottom: tp-spacer(16);
    }
    .l\:pb7 {
        padding-bottom: tp-spacer(32);
    }

    .l\:pt0 {
        padding-top: 0;
    }
    .l\:pt1 {
        padding-top: tp-spacer(0.5);
    }
    .l\:pt2 {
        padding-top: tp-spacer(1);
    }
    .l\:pt3 {
        padding-top: tp-spacer(2);
    }
    .l\:pt4 {
        padding-top: tp-spacer(4);
    }
    .l\:pt5 {
        padding-top: tp-spacer(8);
    }
    .l\:pt6 {
        padding-top: tp-spacer(16);
    }
    .l\:pt7 {
        padding-top: tp-spacer(32);
    }

    .l\:pv0 {
        padding-top: 0;
        padding-bottom: 0;
    }
    .l\:pv1 {
        padding-top: tp-spacer(0.5);
        padding-bottom: tp-spacer(0.5);
    }
    .l\:pv2 {
        padding-top: tp-spacer(1);
        padding-bottom: tp-spacer(1);
    }
    .l\:pv3 {
        padding-top: tp-spacer(2);
        padding-bottom: tp-spacer(2);
    }
    .l\:pv4 {
        padding-top: tp-spacer(4);
        padding-bottom: tp-spacer(4);
    }
    .l\:pv5 {
        padding-top: tp-spacer(8);
        padding-bottom: tp-spacer(8);
    }
    .l\:pv6 {
        padding-top: tp-spacer(16);
        padding-bottom: tp-spacer(16);
    }
    .l\:pv7 {
        padding-top: tp-spacer(32);
        padding-bottom: tp-spacer(32);
    }

    .l\:ph0 {
        padding-left: 0;
        padding-right: 0;
    }
    .l\:ph1 {
        padding-left: tp-spacer(0.5);
        padding-right: tp-spacer(0.5);
    }
    .l\:ph2 {
        padding-left: tp-spacer(1);
        padding-right: tp-spacer(1);
    }
    .l\:ph3 {
        padding-left: tp-spacer(2);
        padding-right: tp-spacer(2);
    }
    .l\:ph4 {
        padding-left: tp-spacer(4);
        padding-right: tp-spacer(4);
    }
    .l\:ph5 {
        padding-left: tp-spacer(8);
        padding-right: tp-spacer(8);
    }
    .l\:ph6 {
        padding-left: tp-spacer(16);
        padding-right: tp-spacer(16);
    }
    .l\:ph7 {
        padding-left: tp-spacer(32);
        padding-right: tp-spacer(32);
    }

    .l\:ma0 {
        margin: 0;
    }
    .l\:ma1 {
        margin: tp-spacer(0.5);
    }
    .l\:ma2 {
        margin: tp-spacer(1);
    }
    .l\:ma3 {
        margin: tp-spacer(2);
    }
    .l\:ma4 {
        margin: tp-spacer(4);
    }
    .l\:ma5 {
        margin: tp-spacer(8);
    }
    .l\:ma6 {
        margin: tp-spacer(16);
    }
    .l\:ma7 {
        margin: tp-spacer(32);
    }

    .l\:ml0 {
        margin-left: 0;
    }
    .l\:ml1 {
        margin-left: tp-spacer(0.5);
    }
    .l\:ml2 {
        margin-left: tp-spacer(1);
    }
    .l\:ml3 {
        margin-left: tp-spacer(2);
    }
    .l\:ml4 {
        margin-left: tp-spacer(4);
    }
    .l\:ml5 {
        margin-left: tp-spacer(8);
    }
    .l\:ml6 {
        margin-left: tp-spacer(16);
    }
    .l\:ml7 {
        margin-left: tp-spacer(32);
    }

    .l\:mr0 {
        margin-right: 0;
    }
    .l\:mr1 {
        margin-right: tp-spacer(0.5);
    }
    .l\:mr2 {
        margin-right: tp-spacer(1);
    }
    .l\:mr3 {
        margin-right: tp-spacer(2);
    }
    .l\:mr4 {
        margin-right: tp-spacer(4);
    }
    .l\:mr5 {
        margin-right: tp-spacer(8);
    }
    .l\:mr6 {
        margin-right: tp-spacer(16);
    }
    .l\:mr7 {
        margin-right: tp-spacer(32);
    }

    .l\:mb0 {
        margin-bottom: 0;
    }
    .l\:mb1 {
        margin-bottom: tp-spacer(0.5);
    }
    .l\:mb2 {
        margin-bottom: tp-spacer(1);
    }
    .l\:mb3 {
        margin-bottom: tp-spacer(2);
    }
    .l\:mb4 {
        margin-bottom: tp-spacer(4);
    }
    .l\:mb5 {
        margin-bottom: tp-spacer(8);
    }
    .l\:mb6 {
        margin-bottom: tp-spacer(16);
    }
    .l\:mb7 {
        margin-bottom: tp-spacer(32);
    }

    .l\:mt0 {
        margin-top: 0;
    }
    .l\:mt1 {
        margin-top: tp-spacer(0.5);
    }
    .l\:mt2 {
        margin-top: tp-spacer(1);
    }
    .l\:mt3 {
        margin-top: tp-spacer(2);
    }
    .l\:mt4 {
        margin-top: tp-spacer(4);
    }
    .l\:mt5 {
        margin-top: tp-spacer(8);
    }
    .l\:mt6 {
        margin-top: tp-spacer(16);
    }
    .l\:mt7 {
        margin-top: tp-spacer(32);
    }

    .l\:mv0 {
        margin-top: 0;
        margin-bottom: 0;
    }
    .l\:mv1 {
        margin-top: tp-spacer(0.5);
        margin-bottom: tp-spacer(0.5);
    }
    .l\:mv2 {
        margin-top: tp-spacer(1);
        margin-bottom: tp-spacer(1);
    }
    .l\:mv3 {
        margin-top: tp-spacer(2);
        margin-bottom: tp-spacer(2);
    }
    .l\:mv4 {
        margin-top: tp-spacer(4);
        margin-bottom: tp-spacer(4);
    }
    .l\:mv5 {
        margin-top: tp-spacer(8);
        margin-bottom: tp-spacer(8);
    }
    .l\:mv6 {
        margin-top: tp-spacer(16);
        margin-bottom: tp-spacer(16);
    }
    .l\:mv7 {
        margin-top: tp-spacer(32);
        margin-bottom: tp-spacer(32);
    }

    .l\:mh0 {
        margin-left: 0;
        margin-right: 0;
    }
    .l\:mh1 {
        margin-left: tp-spacer(0.5);
        margin-right: tp-spacer(0.5);
    }
    .l\:mh2 {
        margin-left: tp-spacer(1);
        margin-right: tp-spacer(1);
    }
    .l\:mh3 {
        margin-left: tp-spacer(2);
        margin-right: tp-spacer(2);
    }
    .l\:mh4 {
        margin-left: tp-spacer(4);
        margin-right: tp-spacer(4);
    }
    .l\:mh5 {
        margin-left: tp-spacer(8);
        margin-right: tp-spacer(8);
    }
    .l\:mh6 {
        margin-left: tp-spacer(16);
        margin-right: tp-spacer(16);
    }
    .l\:mh7 {
        margin-left: tp-spacer(32);
        margin-right: tp-spacer(32);
    }
}
