@import './node_modules/@thumbtack/thumbprint-tokens/dist/scss/_index';
@import './node_modules/@thumbtack/tp-ui-core-mixin/_index';

.ws-normal {
    white-space: normal !important;
}
.nowrap {
    white-space: nowrap !important;
}
.pre {
    white-space: pre !important;
}

@include tp-respond-above($tp-breakpoint__small) {
    .s\:ws-normal {
        white-space: normal !important;
    }
    .s\:nowrap {
        white-space: nowrap !important;
    }
    .s\:pre {
        white-space: pre !important;
    }
}

@include tp-respond-above($tp-breakpoint__medium) {
    .m\:ws-normal {
        white-space: normal !important;
    }
    .m\:nowrap {
        white-space: nowrap !important;
    }
    .m\:pre {
        white-space: pre !important;
    }
}

@include tp-respond-above($tp-breakpoint__large) {
    .l\:ws-normal {
        white-space: normal !important;
    }
    .l\:nowrap {
        white-space: nowrap !important;
    }
    .l\:pre {
        white-space: pre !important;
    }
}
