@import '@thumbtack/thumbprint-tokens/dist/scss/_index';
@import '@thumbtack/tp-ui-core-mixin/_index';

.word-normal {
    word-break: normal !important;
}
.word-wrap {
    word-break: break-all !important;
}
.word-nowrap {
    word-break: keep-all !important;
}

@include tp-respond-above($tp-breakpoint__small) {
    .s\:word-normal {
        word-break: normal !important;
    }
    .s\:word-wrap {
        word-break: break-all !important;
    }
    .s\:word-nowrap {
        word-break: keep-all !important;
    }
}

@include tp-respond-above($tp-breakpoint__medium) {
    .m\:word-normal {
        word-break: normal !important;
    }
    .m\:word-wrap {
        word-break: break-all !important;
    }
    .m\:word-nowrap {
        word-break: keep-all !important;
    }
}

@include tp-respond-above($tp-breakpoint__large) {
    .l\:word-normal {
        word-break: normal !important;
    }
    .l\:word-wrap {
        word-break: break-all !important;
    }
    .l\:word-nowrap {
        word-break: keep-all !important;
    }
}
