@import "./node_modules/@thumbtack/thumbprint-tokens/dist/scss/_index";
@import "./node_modules/@thumbtack/tp-ui-core-mixin/_index";

.nudge-top-1 {
    top: 1px !important;
}
.nudge-top-2 {
    top: 2px !important;
}
.nudge-top-3 {
    top: 3px !important;
}
.nudge-top-4 {
    top: 4px !important;
}
.nudge-top-5 {
    top: 5px !important;
}
.nudge-right-1 {
    right: 1px !important;
}
.nudge-right-2 {
    right: 2px !important;
}
.nudge-right-3 {
    right: 3px !important;
}
.nudge-right-4 {
    right: 4px !important;
}
.nudge-right-5 {
    right: 5px !important;
}
.nudge-bottom-1 {
    bottom: 1px !important;
}
.nudge-bottom-2 {
    bottom: 2px !important;
}
.nudge-bottom-3 {
    bottom: 3px !important;
}
.nudge-bottom-4 {
    bottom: 4px !important;
}
.nudge-bottom-5 {
    bottom: 5px !important;
}
.nudge-left-1 {
    left: 1px !important;
}
.nudge-left-2 {
    left: 2px !important;
}
.nudge-left-3 {
    left: 3px !important;
}
.nudge-left-4 {
    left: 4px !important;
}
.nudge-left-5 {
    left: 5px !important;
}
.-nudge-top-1 {
    top: -1px !important;
}
.-nudge-top-2 {
    top: -2px !important;
}
.-nudge-top-3 {
    top: -3px !important;
}
.-nudge-top-4 {
    top: -4px !important;
}
.-nudge-top-5 {
    top: -5px !important;
}
.-nudge-right-1 {
    right: -1px !important;
}
.-nudge-right-2 {
    right: -2px !important;
}
.-nudge-right-3 {
    right: -3px !important;
}
.-nudge-right-4 {
    right: -4px !important;
}
.-nudge-right-5 {
    right: -5px !important;
}
.-nudge-bottom-1 {
    bottom: -1px !important;
}
.-nudge-bottom-2 {
    bottom: -2px !important;
}
.-nudge-bottom-3 {
    bottom: -3px !important;
}
.-nudge-bottom-4 {
    bottom: -4px !important;
}
.-nudge-bottom-5 {
    bottom: -5px !important;
}
.-nudge-left-1 {
    left: -1px !important;
}
.-nudge-left-2 {
    left: -2px !important;
}
.-nudge-left-3 {
    left: -3px !important;
}
.-nudge-left-4 {
    left: -4px !important;
}
.-nudge-left-5 {
    left: -5px !important;
}

@include tp-respond-above($tp-breakpoint__small) {
    .s\:nudge-top-1 {
        top: 1px !important;
    }
    .s\:nudge-top-2 {
        top: 2px !important;
    }
    .s\:nudge-top-3 {
        top: 3px !important;
    }
    .s\:nudge-top-4 {
        top: 4px !important;
    }
    .s\:nudge-top-5 {
        top: 5px !important;
    }
    .s\:nudge-right-1 {
        right: 1px !important;
    }
    .s\:nudge-right-2 {
        right: 2px !important;
    }
    .s\:nudge-right-3 {
        right: 3px !important;
    }
    .s\:nudge-right-4 {
        right: 4px !important;
    }
    .s\:nudge-right-5 {
        right: 5px !important;
    }
    .s\:nudge-bottom-1 {
        bottom: 1px !important;
    }
    .s\:nudge-bottom-2 {
        bottom: 2px !important;
    }
    .s\:nudge-bottom-3 {
        bottom: 3px !important;
    }
    .s\:nudge-bottom-4 {
        bottom: 4px !important;
    }
    .s\:nudge-bottom-5 {
        bottom: 5px !important;
    }
    .s\:nudge-left-1 {
        left: 1px !important;
    }
    .s\:nudge-left-2 {
        left: 2px !important;
    }
    .s\:nudge-left-3 {
        left: 3px !important;
    }
    .s\:nudge-left-4 {
        left: 4px !important;
    }
    .s\:nudge-left-5 {
        left: 5px !important;
    }
    .s\:-nudge-top-1 {
        top: -1px !important;
    }
    .s\:-nudge-top-2 {
        top: -2px !important;
    }
    .s\:-nudge-top-3 {
        top: -3px !important;
    }
    .s\:-nudge-top-4 {
        top: -4px !important;
    }
    .s\:-nudge-top-5 {
        top: -5px !important;
    }
    .s\:-nudge-right-1 {
        right: -1px !important;
    }
    .s\:-nudge-right-2 {
        right: -2px !important;
    }
    .s\:-nudge-right-3 {
        right: -3px !important;
    }
    .s\:-nudge-right-4 {
        right: -4px !important;
    }
    .s\:-nudge-right-5 {
        right: -5px !important;
    }
    .s\:-nudge-bottom-1 {
        bottom: -1px !important;
    }
    .s\:-nudge-bottom-2 {
        bottom: -2px !important;
    }
    .s\:-nudge-bottom-3 {
        bottom: -3px !important;
    }
    .s\:-nudge-bottom-4 {
        bottom: -4px !important;
    }
    .s\:-nudge-bottom-5 {
        bottom: -5px !important;
    }
    .s\:-nudge-left-1 {
        left: -1px !important;
    }
    .s\:-nudge-left-2 {
        left: -2px !important;
    }
    .s\:-nudge-left-3 {
        left: -3px !important;
    }
    .s\:-nudge-left-4 {
        left: -4px !important;
    }
    .s\:-nudge-left-5 {
        left: -5px !important;
    }
}
@include tp-respond-above($tp-breakpoint__medium) {
    .m\:nudge-top-1 {
        top: 1px !important;
    }
    .m\:nudge-top-2 {
        top: 2px !important;
    }
    .m\:nudge-top-3 {
        top: 3px !important;
    }
    .m\:nudge-top-4 {
        top: 4px !important;
    }
    .m\:nudge-top-5 {
        top: 5px !important;
    }
    .m\:nudge-right-1 {
        right: 1px !important;
    }
    .m\:nudge-right-2 {
        right: 2px !important;
    }
    .m\:nudge-right-3 {
        right: 3px !important;
    }
    .m\:nudge-right-4 {
        right: 4px !important;
    }
    .m\:nudge-right-5 {
        right: 5px !important;
    }
    .m\:nudge-bottom-1 {
        bottom: 1px !important;
    }
    .m\:nudge-bottom-2 {
        bottom: 2px !important;
    }
    .m\:nudge-bottom-3 {
        bottom: 3px !important;
    }
    .m\:nudge-bottom-4 {
        bottom: 4px !important;
    }
    .m\:nudge-bottom-5 {
        bottom: 5px !important;
    }
    .m\:nudge-left-1 {
        left: 1px !important;
    }
    .m\:nudge-left-2 {
        left: 2px !important;
    }
    .m\:nudge-left-3 {
        left: 3px !important;
    }
    .m\:nudge-left-4 {
        left: 4px !important;
    }
    .m\:nudge-left-5 {
        left: 5px !important;
    }
    .m\:-nudge-top-1 {
        top: -1px !important;
    }
    .m\:-nudge-top-2 {
        top: -2px !important;
    }
    .m\:-nudge-top-3 {
        top: -3px !important;
    }
    .m\:-nudge-top-4 {
        top: -4px !important;
    }
    .m\:-nudge-top-5 {
        top: -5px !important;
    }
    .m\:-nudge-right-1 {
        right: -1px !important;
    }
    .m\:-nudge-right-2 {
        right: -2px !important;
    }
    .m\:-nudge-right-3 {
        right: -3px !important;
    }
    .m\:-nudge-right-4 {
        right: -4px !important;
    }
    .m\:-nudge-right-5 {
        right: -5px !important;
    }
    .m\:-nudge-bottom-1 {
        bottom: -1px !important;
    }
    .m\:-nudge-bottom-2 {
        bottom: -2px !important;
    }
    .m\:-nudge-bottom-3 {
        bottom: -3px !important;
    }
    .m\:-nudge-bottom-4 {
        bottom: -4px !important;
    }
    .m\:-nudge-bottom-5 {
        bottom: -5px !important;
    }
    .m\:-nudge-left-1 {
        left: -1px !important;
    }
    .m\:-nudge-left-2 {
        left: -2px !important;
    }
    .m\:-nudge-left-3 {
        left: -3px !important;
    }
    .m\:-nudge-left-4 {
        left: -4px !important;
    }
    .m\:-nudge-left-5 {
        left: -5px !important;
    }
}
@include tp-respond-above($tp-breakpoint__large) {
    .l\:nudge-top-1 {
        top: 1px !important;
    }
    .l\:nudge-top-2 {
        top: 2px !important;
    }
    .l\:nudge-top-3 {
        top: 3px !important;
    }
    .l\:nudge-top-4 {
        top: 4px !important;
    }
    .l\:nudge-top-5 {
        top: 5px !important;
    }
    .l\:nudge-right-1 {
        right: 1px !important;
    }
    .l\:nudge-right-2 {
        right: 2px !important;
    }
    .l\:nudge-right-3 {
        right: 3px !important;
    }
    .l\:nudge-right-4 {
        right: 4px !important;
    }
    .l\:nudge-right-5 {
        right: 5px !important;
    }
    .l\:nudge-bottom-1 {
        bottom: 1px !important;
    }
    .l\:nudge-bottom-2 {
        bottom: 2px !important;
    }
    .l\:nudge-bottom-3 {
        bottom: 3px !important;
    }
    .l\:nudge-bottom-4 {
        bottom: 4px !important;
    }
    .l\:nudge-bottom-5 {
        bottom: 5px !important;
    }
    .l\:nudge-left-1 {
        left: 1px !important;
    }
    .l\:nudge-left-2 {
        left: 2px !important;
    }
    .l\:nudge-left-3 {
        left: 3px !important;
    }
    .l\:nudge-left-4 {
        left: 4px !important;
    }
    .l\:nudge-left-5 {
        left: 5px !important;
    }
    .l\:-nudge-top-1 {
        top: -1px !important;
    }
    .l\:-nudge-top-2 {
        top: -2px !important;
    }
    .l\:-nudge-top-3 {
        top: -3px !important;
    }
    .l\:-nudge-top-4 {
        top: -4px !important;
    }
    .l\:-nudge-top-5 {
        top: -5px !important;
    }
    .l\:-nudge-right-1 {
        right: -1px !important;
    }
    .l\:-nudge-right-2 {
        right: -2px !important;
    }
    .l\:-nudge-right-3 {
        right: -3px !important;
    }
    .l\:-nudge-right-4 {
        right: -4px !important;
    }
    .l\:-nudge-right-5 {
        right: -5px !important;
    }
    .l\:-nudge-bottom-1 {
        bottom: -1px !important;
    }
    .l\:-nudge-bottom-2 {
        bottom: -2px !important;
    }
    .l\:-nudge-bottom-3 {
        bottom: -3px !important;
    }
    .l\:-nudge-bottom-4 {
        bottom: -4px !important;
    }
    .l\:-nudge-bottom-5 {
        bottom: -5px !important;
    }
    .l\:-nudge-left-1 {
        left: -1px !important;
    }
    .l\:-nudge-left-2 {
        left: -2px !important;
    }
    .l\:-nudge-left-3 {
        left: -3px !important;
    }
    .l\:-nudge-left-4 {
        left: -4px !important;
    }
    .l\:-nudge-left-5 {
        left: -5px !important;
    }
}
