@import './node_modules/@thumbtack/thumbprint-tokens/dist/scss/_index';
@import './node_modules/@thumbtack/tp-ui-core-mixin/_index';

.pa0 {
    padding: 0 !important;
}

.pa1 {
    padding: 4px !important;
}

.pa2 {
    padding: 8px !important;
}

.pa3 {
    padding: 16px !important;
}

.pa4 {
    padding: 24px !important;
}

.pa5 {
    padding: 32px !important;
}

.pa6 {
    padding: 64px !important;
}

.pa7 {
    padding: 128px !important;
}

.pa8 {
    padding: 256px !important;
}

.pl0 {
    padding-left: 0 !important;
}

.pl1 {
    padding-left: 4px !important;
}

.pl2 {
    padding-left: 8px !important;
}

.pl3 {
    padding-left: 16px !important;
}

.pl4 {
    padding-left: 24px !important;
}

.pl5 {
    padding-left: 32px !important;
}

.pl6 {
    padding-left: 64px !important;
}

.pl7 {
    padding-left: 128px !important;
}

.pl8 {
    padding-left: 256px !important;
}

.pr0 {
    padding-right: 0 !important;
}

.pr1 {
    padding-right: 4px !important;
}

.pr2 {
    padding-right: 8px !important;
}

.pr3 {
    padding-right: 16px !important;
}

.pr4 {
    padding-right: 24px !important;
}

.pr5 {
    padding-right: 32px !important;
}

.pr6 {
    padding-right: 64px !important;
}

.pr7 {
    padding-right: 128px !important;
}

.pr8 {
    padding-right: 256px !important;
}

.pb0 {
    padding-bottom: 0 !important;
}

.pb1 {
    padding-bottom: 4px !important;
}

.pb2 {
    padding-bottom: 8px !important;
}

.pb3 {
    padding-bottom: 16px !important;
}

.pb4 {
    padding-bottom: 24px !important;
}

.pb5 {
    padding-bottom: 32px !important;
}

.pb6 {
    padding-bottom: 64px !important;
}

.pb7 {
    padding-bottom: 128px !important;
}

.pb8 {
    padding-bottom: 256px !important;
}

.pt0 {
    padding-top: 0 !important;
}

.pt1 {
    padding-top: 4px !important;
}

.pt2 {
    padding-top: 8px !important;
}

.pt3 {
    padding-top: 16px !important;
}

.pt4 {
    padding-top: 24px !important;
}

.pt5 {
    padding-top: 32px !important;
}

.pt6 {
    padding-top: 64px !important;
}

.pt7 {
    padding-top: 128px !important;
}

.pt8 {
    padding-top: 256px !important;
}

.pv0 {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.pv1 {
    padding-top: 4px !important;
    padding-bottom: 4px !important;
}

.pv2 {
    padding-top: 8px !important;
    padding-bottom: 8px !important;
}

.pv3 {
    padding-top: 16px !important;
    padding-bottom: 16px !important;
}

.pv4 {
    padding-top: 24px !important;
    padding-bottom: 24px !important;
}

.pv5 {
    padding-top: 32px !important;
    padding-bottom: 32px !important;
}

.pv6 {
    padding-top: 64px !important;
    padding-bottom: 64px !important;
}

.pv7 {
    padding-top: 128px !important;
    padding-bottom: 128px !important;
}

.pv8 {
    padding-top: 256px !important;
    padding-bottom: 256px !important;
}

.ph0 {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.ph1 {
    padding-left: 4px !important;
    padding-right: 4px !important;
}

.ph2 {
    padding-left: 8px !important;
    padding-right: 8px !important;
}

.ph3 {
    padding-left: 16px !important;
    padding-right: 16px !important;
}

.ph4 {
    padding-left: 24px !important;
    padding-right: 24px !important;
}

.ph5 {
    padding-left: 32px !important;
    padding-right: 32px !important;
}

.ph6 {
    padding-left: 64px !important;
    padding-right: 64px !important;
}

.ph7 {
    padding-left: 128px !important;
    padding-right: 128px !important;
}

.ph8 {
    padding-left: 256px !important;
    padding-right: 256px !important;
}

@include tp-respond-above($tp-breakpoint__small) {
    .s\:pa0 {
        padding: 0 !important;
    }

    .s\:pa1 {
        padding: 4px !important;
    }

    .s\:pa2 {
        padding: 8px !important;
    }

    .s\:pa3 {
        padding: 16px !important;
    }

    .s\:pa4 {
        padding: 24px !important;
    }

    .s\:pa5 {
        padding: 32px !important;
    }

    .s\:pa6 {
        padding: 64px !important;
    }

    .s\:pa7 {
        padding: 128px !important;
    }

    .s\:pa8 {
        padding: 256px !important;
    }

    .s\:pl0 {
        padding-left: 0 !important;
    }

    .s\:pl1 {
        padding-left: 4px !important;
    }

    .s\:pl2 {
        padding-left: 8px !important;
    }

    .s\:pl3 {
        padding-left: 16px !important;
    }

    .s\:pl4 {
        padding-left: 24px !important;
    }

    .s\:pl5 {
        padding-left: 32px !important;
    }

    .s\:pl6 {
        padding-left: 64px !important;
    }

    .s\:pl7 {
        padding-left: 128px !important;
    }

    .s\:pl8 {
        padding-left: 256px !important;
    }

    .s\:pr0 {
        padding-right: 0 !important;
    }

    .s\:pr1 {
        padding-right: 4px !important;
    }

    .s\:pr2 {
        padding-right: 8px !important;
    }

    .s\:pr3 {
        padding-right: 16px !important;
    }

    .s\:pr4 {
        padding-right: 24px !important;
    }

    .s\:pr5 {
        padding-right: 32px !important;
    }

    .s\:pr6 {
        padding-right: 64px !important;
    }

    .s\:pr7 {
        padding-right: 128px !important;
    }

    .s\:pr8 {
        padding-right: 256px !important;
    }

    .s\:pb0 {
        padding-bottom: 0 !important;
    }

    .s\:pb1 {
        padding-bottom: 4px !important;
    }

    .s\:pb2 {
        padding-bottom: 8px !important;
    }

    .s\:pb3 {
        padding-bottom: 16px !important;
    }

    .s\:pb4 {
        padding-bottom: 24px !important;
    }

    .s\:pb5 {
        padding-bottom: 32px !important;
    }

    .s\:pb6 {
        padding-bottom: 64px !important;
    }

    .s\:pb7 {
        padding-bottom: 128px !important;
    }

    .s\:pb8 {
        padding-bottom: 256px !important;
    }

    .s\:pt0 {
        padding-top: 0 !important;
    }

    .s\:pt1 {
        padding-top: 4px !important;
    }

    .s\:pt2 {
        padding-top: 8px !important;
    }

    .s\:pt3 {
        padding-top: 16px !important;
    }

    .s\:pt4 {
        padding-top: 24px !important;
    }

    .s\:pt5 {
        padding-top: 32px !important;
    }

    .s\:pt6 {
        padding-top: 64px !important;
    }

    .s\:pt7 {
        padding-top: 128px !important;
    }

    .s\:pt8 {
        padding-top: 256px !important;
    }

    .s\:pv0 {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }

    .s\:pv1 {
        padding-top: 4px !important;
        padding-bottom: 4px !important;
    }

    .s\:pv2 {
        padding-top: 8px !important;
        padding-bottom: 8px !important;
    }

    .s\:pv3 {
        padding-top: 16px !important;
        padding-bottom: 16px !important;
    }

    .s\:pv4 {
        padding-top: 24px !important;
        padding-bottom: 24px !important;
    }

    .s\:pv5 {
        padding-top: 32px !important;
        padding-bottom: 32px !important;
    }

    .s\:pv6 {
        padding-top: 64px !important;
        padding-bottom: 64px !important;
    }

    .s\:pv7 {
        padding-top: 128px !important;
        padding-bottom: 128px !important;
    }

    .s\:pv8 {
        padding-top: 256px !important;
        padding-bottom: 256px !important;
    }

    .s\:ph0 {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .s\:ph1 {
        padding-left: 4px !important;
        padding-right: 4px !important;
    }

    .s\:ph2 {
        padding-left: 8px !important;
        padding-right: 8px !important;
    }

    .s\:ph3 {
        padding-left: 16px !important;
        padding-right: 16px !important;
    }

    .s\:ph4 {
        padding-left: 24px !important;
        padding-right: 24px !important;
    }

    .s\:ph5 {
        padding-left: 32px !important;
        padding-right: 32px !important;
    }

    .s\:ph6 {
        padding-left: 64px !important;
        padding-right: 64px !important;
    }

    .s\:ph7 {
        padding-left: 128px !important;
        padding-right: 128px !important;
    }

    .s\:ph8 {
        padding-left: 256px !important;
        padding-right: 256px !important;
    }
}

@include tp-respond-above($tp-breakpoint__medium) {
    .m\:pa0 {
        padding: 0 !important;
    }

    .m\:pa1 {
        padding: 4px !important;
    }

    .m\:pa2 {
        padding: 8px !important;
    }

    .m\:pa3 {
        padding: 16px !important;
    }

    .m\:pa4 {
        padding: 24px !important;
    }

    .m\:pa5 {
        padding: 32px !important;
    }

    .m\:pa6 {
        padding: 64px !important;
    }

    .m\:pa7 {
        padding: 128px !important;
    }

    .m\:pa8 {
        padding: 256px !important;
    }

    .m\:pl0 {
        padding-left: 0 !important;
    }

    .m\:pl1 {
        padding-left: 4px !important;
    }

    .m\:pl2 {
        padding-left: 8px !important;
    }

    .m\:pl3 {
        padding-left: 16px !important;
    }

    .m\:pl4 {
        padding-left: 24px !important;
    }

    .m\:pl5 {
        padding-left: 32px !important;
    }

    .m\:pl6 {
        padding-left: 64px !important;
    }

    .m\:pl7 {
        padding-left: 128px !important;
    }

    .m\:pl8 {
        padding-left: 256px !important;
    }

    .m\:pr0 {
        padding-right: 0 !important;
    }

    .m\:pr1 {
        padding-right: 4px !important;
    }

    .m\:pr2 {
        padding-right: 8px !important;
    }

    .m\:pr3 {
        padding-right: 16px !important;
    }

    .m\:pr4 {
        padding-right: 24px !important;
    }

    .m\:pr5 {
        padding-right: 32px !important;
    }

    .m\:pr6 {
        padding-right: 64px !important;
    }

    .m\:pr7 {
        padding-right: 128px !important;
    }

    .m\:pr8 {
        padding-right: 256px !important;
    }

    .m\:pb0 {
        padding-bottom: 0 !important;
    }

    .m\:pb1 {
        padding-bottom: 4px !important;
    }

    .m\:pb2 {
        padding-bottom: 8px !important;
    }

    .m\:pb3 {
        padding-bottom: 16px !important;
    }

    .m\:pb4 {
        padding-bottom: 24px !important;
    }

    .m\:pb5 {
        padding-bottom: 32px !important;
    }

    .m\:pb6 {
        padding-bottom: 64px !important;
    }

    .m\:pb7 {
        padding-bottom: 128px !important;
    }

    .m\:pb8 {
        padding-bottom: 256px !important;
    }

    .m\:pt0 {
        padding-top: 0 !important;
    }

    .m\:pt1 {
        padding-top: 4px !important;
    }

    .m\:pt2 {
        padding-top: 8px !important;
    }

    .m\:pt3 {
        padding-top: 16px !important;
    }

    .m\:pt4 {
        padding-top: 24px !important;
    }

    .m\:pt5 {
        padding-top: 32px !important;
    }

    .m\:pt6 {
        padding-top: 64px !important;
    }

    .m\:pt7 {
        padding-top: 128px !important;
    }

    .m\:pt8 {
        padding-top: 256px !important;
    }

    .m\:pv0 {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }

    .m\:pv1 {
        padding-top: 4px !important;
        padding-bottom: 4px !important;
    }

    .m\:pv2 {
        padding-top: 8px !important;
        padding-bottom: 8px !important;
    }

    .m\:pv3 {
        padding-top: 16px !important;
        padding-bottom: 16px !important;
    }

    .m\:pv4 {
        padding-top: 24px !important;
        padding-bottom: 24px !important;
    }

    .m\:pv5 {
        padding-top: 32px !important;
        padding-bottom: 32px !important;
    }

    .m\:pv6 {
        padding-top: 64px !important;
        padding-bottom: 64px !important;
    }

    .m\:pv7 {
        padding-top: 128px !important;
        padding-bottom: 128px !important;
    }

    .m\:pv8 {
        padding-top: 256px !important;
        padding-bottom: 256px !important;
    }

    .m\:ph0 {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .m\:ph1 {
        padding-left: 4px !important;
        padding-right: 4px !important;
    }

    .m\:ph2 {
        padding-left: 8px !important;
        padding-right: 8px !important;
    }

    .m\:ph3 {
        padding-left: 16px !important;
        padding-right: 16px !important;
    }

    .m\:ph4 {
        padding-left: 24px !important;
        padding-right: 24px !important;
    }

    .m\:ph5 {
        padding-left: 32px !important;
        padding-right: 32px !important;
    }

    .m\:ph6 {
        padding-left: 64px !important;
        padding-right: 64px !important;
    }

    .m\:ph7 {
        padding-left: 128px !important;
        padding-right: 128px !important;
    }

    .m\:ph8 {
        padding-left: 256px !important;
        padding-right: 256px !important;
    }
}

@include tp-respond-above($tp-breakpoint__large) {
    .l\:pa0 {
        padding: 0 !important;
    }

    .l\:pa1 {
        padding: 4px !important;
    }

    .l\:pa2 {
        padding: 8px !important;
    }

    .l\:pa3 {
        padding: 16px !important;
    }

    .l\:pa4 {
        padding: 24px !important;
    }

    .l\:pa5 {
        padding: 32px !important;
    }

    .l\:pa6 {
        padding: 64px !important;
    }

    .l\:pa7 {
        padding: 128px !important;
    }

    .l\:pa8 {
        padding: 256px !important;
    }

    .l\:pl0 {
        padding-left: 0 !important;
    }

    .l\:pl1 {
        padding-left: 4px !important;
    }

    .l\:pl2 {
        padding-left: 8px !important;
    }

    .l\:pl3 {
        padding-left: 16px !important;
    }

    .l\:pl4 {
        padding-left: 24px !important;
    }

    .l\:pl5 {
        padding-left: 32px !important;
    }

    .l\:pl6 {
        padding-left: 64px !important;
    }

    .l\:pl7 {
        padding-left: 128px !important;
    }

    .l\:pl8 {
        padding-left: 256px !important;
    }

    .l\:pr0 {
        padding-right: 0 !important;
    }

    .l\:pr1 {
        padding-right: 4px !important;
    }

    .l\:pr2 {
        padding-right: 8px !important;
    }

    .l\:pr3 {
        padding-right: 16px !important;
    }

    .l\:pr4 {
        padding-right: 24px !important;
    }

    .l\:pr5 {
        padding-right: 32px !important;
    }

    .l\:pr6 {
        padding-right: 64px !important;
    }

    .l\:pr7 {
        padding-right: 128px !important;
    }

    .l\:pr8 {
        padding-right: 256px !important;
    }

    .l\:pb0 {
        padding-bottom: 0 !important;
    }

    .l\:pb1 {
        padding-bottom: 4px !important;
    }

    .l\:pb2 {
        padding-bottom: 8px !important;
    }

    .l\:pb3 {
        padding-bottom: 16px !important;
    }

    .l\:pb4 {
        padding-bottom: 24px !important;
    }

    .l\:pb5 {
        padding-bottom: 32px !important;
    }

    .l\:pb6 {
        padding-bottom: 64px !important;
    }

    .l\:pb7 {
        padding-bottom: 128px !important;
    }

    .l\:pb8 {
        padding-bottom: 256px !important;
    }

    .l\:pt0 {
        padding-top: 0 !important;
    }

    .l\:pt1 {
        padding-top: 4px !important;
    }

    .l\:pt2 {
        padding-top: 8px !important;
    }

    .l\:pt3 {
        padding-top: 16px !important;
    }

    .l\:pt4 {
        padding-top: 24px !important;
    }

    .l\:pt5 {
        padding-top: 32px !important;
    }

    .l\:pt6 {
        padding-top: 64px !important;
    }

    .l\:pt7 {
        padding-top: 128px !important;
    }

    .l\:pt8 {
        padding-top: 256px !important;
    }

    .l\:pv0 {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }

    .l\:pv1 {
        padding-top: 4px !important;
        padding-bottom: 4px !important;
    }

    .l\:pv2 {
        padding-top: 8px !important;
        padding-bottom: 8px !important;
    }

    .l\:pv3 {
        padding-top: 16px !important;
        padding-bottom: 16px !important;
    }

    .l\:pv4 {
        padding-top: 24px !important;
        padding-bottom: 24px !important;
    }

    .l\:pv5 {
        padding-top: 32px !important;
        padding-bottom: 32px !important;
    }

    .l\:pv6 {
        padding-top: 64px !important;
        padding-bottom: 64px !important;
    }

    .l\:pv7 {
        padding-top: 128px !important;
        padding-bottom: 128px !important;
    }

    .l\:pv8 {
        padding-top: 256px !important;
        padding-bottom: 256px !important;
    }

    .l\:ph0 {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .l\:ph1 {
        padding-left: 4px !important;
        padding-right: 4px !important;
    }

    .l\:ph2 {
        padding-left: 8px !important;
        padding-right: 8px !important;
    }

    .l\:ph3 {
        padding-left: 16px !important;
        padding-right: 16px !important;
    }

    .l\:ph4 {
        padding-left: 24px !important;
        padding-right: 24px !important;
    }

    .l\:ph5 {
        padding-left: 32px !important;
        padding-right: 32px !important;
    }

    .l\:ph6 {
        padding-left: 64px !important;
        padding-right: 64px !important;
    }

    .l\:ph7 {
        padding-left: 128px !important;
        padding-right: 128px !important;
    }

    .l\:ph8 {
        padding-left: 256px !important;
        padding-right: 256px !important;
    }
}
