.ba {
    border-style: solid;
    border-width: 1px;
}
.bt {
    border-top-style: solid;
    border-top-width: 1px;
}
.br {
    border-right-style: solid;
    border-right-width: 1px;
}
.bb {
    border-bottom-style: solid;
    border-bottom-width: 1px;
}
.bl {
    border-left-style: solid;
    border-left-width: 1px;
}
.bn {
    border-style: none;
    border-width: 0;
}

@include tp-respond-above($tp-breakpoint__small) {
    .s\:ba {
        border-style: solid;
        border-width: 1px;
    }
    .s\:bt {
        border-top-style: solid;
        border-top-width: 1px;
    }
    .s\:br {
        border-right-style: solid;
        border-right-width: 1px;
    }
    .s\:bb {
        border-bottom-style: solid;
        border-bottom-width: 1px;
    }
    .s\:bl {
        border-left-style: solid;
        border-left-width: 1px;
    }
    .s\:bn {
        border-style: none;
        border-width: 0;
    }
}

@include tp-respond-above($tp-breakpoint__medium) {
    .m\:ba {
        border-style: solid;
        border-width: 1px;
    }
    .m\:bt {
        border-top-style: solid;
        border-top-width: 1px;
    }
    .m\:br {
        border-right-style: solid;
        border-right-width: 1px;
    }
    .m\:bb {
        border-bottom-style: solid;
        border-bottom-width: 1px;
    }
    .m\:bl {
        border-left-style: solid;
        border-left-width: 1px;
    }
    .m\:bn {
        border-style: none;
        border-width: 0;
    }
}

@include tp-respond-above($tp-breakpoint__large) {
    .l\:ba {
        border-style: solid;
        border-width: 1px;
    }
    .l\:bt {
        border-top-style: solid;
        border-top-width: 1px;
    }
    .l\:br {
        border-right-style: solid;
        border-right-width: 1px;
    }
    .l\:bb {
        border-bottom-style: solid;
        border-bottom-width: 1px;
    }
    .l\:bl {
        border-left-style: solid;
        border-left-width: 1px;
    }
    .l\:bn {
        border-style: none;
        border-width: 0;
    }
}
