.bw-0 {
    border-width: 0;
}
.bw-1 {
    border-width: 1px;
}
.bw-2 {
    border-width: 2px;
}
.bw-3 {
    border-width: 3px;
}
.bw-4 {
    border-width: 4px;
}
.bw-5 {
    border-width: 5px;
}

/* Resets */
.bt-0 {
    border-top-width: 0;
}
.br-0 {
    border-right-width: 0;
}
.bb-0 {
    border-bottom-width: 0;
}
.bl-0 {
    border-left-width: 0;
}

@include tp-respond-above($tp-breakpoint__small) {
    .s\:bw-0 {
        border-width: 0;
    }
    .s\:bw-1 {
        border-width: 1px;
    }
    .s\:bw-2 {
        border-width: 2px;
    }
    .s\:bw-3 {
        border-width: 3px;
    }
    .s\:bw-4 {
        border-width: 4px;
    }
    .s\:bw-5 {
        border-width: 5px;
    }
    .s\:bt-0 {
        border-top-width: 0;
    }
    .s\:br-0 {
        border-right-width: 0;
    }
    .s\:bb-0 {
        border-bottom-width: 0;
    }
    .s\:bl-0 {
        border-left-width: 0;
    }
}

@include tp-respond-above($tp-breakpoint__medium) {
    .m\:bw-0 {
        border-width: 0;
    }
    .m\:bw-1 {
        border-width: 1px;
    }
    .m\:bw-2 {
        border-width: 2px;
    }
    .m\:bw-3 {
        border-width: 3px;
    }
    .m\:bw-4 {
        border-width: 4px;
    }
    .m\:bw-5 {
        border-width: 5px;
    }
    .m\:bt-0 {
        border-top-width: 0;
    }
    .m\:br-0 {
        border-right-width: 0;
    }
    .m\:bb-0 {
        border-bottom-width: 0;
    }
    .m\:bl-0 {
        border-left-width: 0;
    }
}

@include tp-respond-above($tp-breakpoint__large) {
    .l\:bw-0 {
        border-width: 0;
    }
    .l\:bw-1 {
        border-width: 1px;
    }
    .l\:bw-2 {
        border-width: 2px;
    }
    .l\:bw-3 {
        border-width: 3px;
    }
    .l\:bw-4 {
        border-width: 4px;
    }
    .l\:bw-5 {
        border-width: 5px;
    }
    .l\:bt-0 {
        border-top-width: 0;
    }
    .l\:br-0 {
        border-right-width: 0;
    }
    .l\:bb-0 {
        border-bottom-width: 0;
    }
    .l\:bl-0 {
        border-left-width: 0;
    }
}
