.grid {
    display: flex;
    flex-wrap: wrap;
    margin-left: tp-spacer(-2);
}
.grid .col {
    padding-left: tp-spacer(2);
}

.grid--wide {
    margin-left: tp-spacer(-4);
}

.grid--wide .col {
    padding-left: tp-spacer(4);
}

.grid--flush {
    margin-left: 0;
}

.grid--flush .col {
    padding-left: 0;
}

@include tp-respond-above($tp-breakpoint__small) {
    .s\:grid {
        display: flex;
        flex-wrap: wrap;
        margin-left: tp-spacer(-2);
    }
    .s\:grid .col {
        padding-left: tp-spacer(2);
    }
    
    .s\:grid--wide {
        margin-left: tp-spacer(-4);
    }
    
    .s\:grid--wide .col {
        padding-left: tp-spacer(4);
    }
    
    .s\:grid--flush {
        margin-left: 0;
    }
    
    .s\:grid--flush .col {
        padding-left: 0;
    }
}

@include tp-respond-above($tp-breakpoint__medium) {
    .m\:grid {
        display: flex;
        flex-wrap: wrap;
        margin-left: tp-spacer(-2);
    }
    .m\:grid .col {
        padding-left: tp-spacer(2);
    }
    
    .m\:grid--wide {
        margin-left: tp-spacer(-4);
    }
    
    .m\:grid--wide .col {
        padding-left: tp-spacer(4);
    }
    
    .m\:grid--flush {
        margin-left: 0;
    }
    
    .m\:grid--flush .col {
        padding-left: 0;
    }
}

@include tp-respond-above($tp-breakpoint__large) {
    .l\:grid {
        display: flex;
        flex-wrap: wrap;
        margin-left: tp-spacer(-2);
    }
    .l\:grid .col {
        padding-left: tp-spacer(2);
    }
    
    .l\:grid--wide {
        margin-left: tp-spacer(-4);
    }
    
    .l\:grid--wide .col {
        padding-left: tp-spacer(4);
    }
    
    .l\:grid--flush {
        margin-left: 0;
    }
    
    .l\:grid--flush .col {
        padding-left: 0;
    }
}
