.rotate-45 {
    transform: rotate(45deg);
}
.rotate-90 {
    transform: rotate(90deg);
}
.rotate-135 {
    transform: rotate(135deg);
}
.rotate-180 {
    transform: rotate(180deg);
}
.rotate-225 {
    transform: rotate(225deg);
}
.rotate-270 {
    transform: rotate(270deg);
}
.rotate-315 {
    transform: rotate(315deg);
}

@include tp-respond-above($tp-breakpoint__small) {
    .s\:rotate-45 {
        transform: rotate(45deg);
    }
    .s\:rotate-90 {
        transform: rotate(90deg);
    }
    .s\:rotate-135 {
        transform: rotate(135deg);
    }
    .s\:rotate-180 {
        transform: rotate(180deg);
    }
    .s\:rotate-225 {
        transform: rotate(225deg);
    }
    .s\:rotate-270 {
        transform: rotate(270deg);
    }
    .s\:rotate-315 {
        transform: rotate(315deg);
    }
}

@include tp-respond-above($tp-breakpoint__medium) {
    .m\:rotate-45 {
        transform: rotate(45deg);
    }
    .m\:rotate-90 {
        transform: rotate(90deg);
    }
    .m\:rotate-135 {
        transform: rotate(135deg);
    }
    .m\:rotate-180 {
        transform: rotate(180deg);
    }
    .m\:rotate-225 {
        transform: rotate(225deg);
    }
    .m\:rotate-270 {
        transform: rotate(270deg);
    }
    .m\:rotate-315 {
        transform: rotate(315deg);
    }
}

@include tp-respond-above($tp-breakpoint__large) {
    .l\:rotate-45 {
        transform: rotate(45deg);
    }
    .l\:rotate-90 {
        transform: rotate(90deg);
    }
    .l\:rotate-135 {
        transform: rotate(135deg);
    }
    .l\:rotate-180 {
        transform: rotate(180deg);
    }
    .l\:rotate-225 {
        transform: rotate(225deg);
    }
    .l\:rotate-270 {
        transform: rotate(270deg);
    }
    .l\:rotate-315 {
        transform: rotate(315deg);
    }
}
