.clip {
    position: fixed !important;
    _position: absolute !important;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
}

@include tp-respond-above($tp-breakpoint__small) {
    .s\:clip {
        position: fixed !important;
        _position: absolute !important;
        clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
        clip: rect(1px, 1px, 1px, 1px);
    }
}

@include tp-respond-above($tp-breakpoint__medium) {
    .m\:clip {
        position: fixed !important;
        _position: absolute !important;
        clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
        clip: rect(1px, 1px, 1px, 1px);
    }
}

@include tp-respond-above($tp-breakpoint__large) {
    .l\:clip {
        position: fixed !important;
        _position: absolute !important;
        clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
        clip: rect(1px, 1px, 1px, 1px);
    }
}
