@import './node_modules/@thumbtack/thumbprint-tokens/dist/scss/_index';
@import './node_modules/@thumbtack/tp-ui-core-mixin/_index';

.ttc {
    text-transform: capitalize !important;
}
.ttl {
    text-transform: lowercase !important;
}
.ttu {
    text-transform: uppercase !important;
}
.ttn {
    text-transform: none !important;
}

@include tp-respond-above($tp-breakpoint__small) {
    .s\:ttc {
        text-transform: capitalize !important;
    }
    .s\:ttl {
        text-transform: lowercase !important;
    }
    .s\:ttu {
        text-transform: uppercase !important;
    }
    .s\:ttn {
        text-transform: none !important;
    }
}

@include tp-respond-above($tp-breakpoint__medium) {
    .m\:ttc {
        text-transform: capitalize !important;
    }
    .m\:ttl {
        text-transform: lowercase !important;
    }
    .m\:ttu {
        text-transform: uppercase !important;
    }
    .m\:ttn {
        text-transform: none !important;
    }
}

@include tp-respond-above($tp-breakpoint__large) {
    .l\:ttc {
        text-transform: capitalize !important;
    }
    .l\:ttl {
        text-transform: lowercase !important;
    }
    .l\:ttu {
        text-transform: uppercase !important;
    }
    .l\:ttn {
        text-transform: none !important;
    }
}
