@import './node_modules/@thumbtack/thumbprint-tokens/dist/scss/_index';
@import './node_modules/@thumbtack/tp-ui-core-function/_index';
@import './node_modules/@thumbtack/tp-ui-core-mixin/_index';

.white {
    color: $tp-color__white !important;
}
.black {
    color: $tp-color__black !important;
}
.black-300 {
    color: $tp-color__black-300 !important;
}
.blue {
    color: $tp-color__blue !important;
}
.indigo {
    color: $tp-color__indigo !important;
}
.purple {
    color: $tp-color__purple !important;
}
.green {
    color: $tp-color__green !important;
}
.yellow {
    color: $tp-color__yellow !important;
}
.red {
    color: $tp-color__red !important;
}
.gray {
    color: $tp-color__gray !important;
}
.gray-200 {
    color: $tp-color__gray-200 !important;
}
.gray-300 {
    color: $tp-color__gray-300 !important;
}
.bg-white {
    background-color: $tp-color__white !important;
}
.bg-black {
    background-color: $tp-color__black !important;
}
.bg-black-300 {
    background-color: $tp-color__black-300 !important;
}
.bg-blue {
    background-color: $tp-color__blue !important;
}
.bg-indigo {
    background-color: $tp-color__indigo !important;
}
.bg-purple {
    background-color: $tp-color__purple !important;
}
.bg-green {
    background-color: $tp-color__green !important;
}
.bg-yellow {
    background-color: $tp-color__yellow !important;
}
.bg-red {
    background-color: $tp-color__red !important;
}
.bg-gray {
    background-color: $tp-color__gray !important;
}
.bg-gray-200 {
    background-color: $tp-color__gray-200 !important;
}
.bg-gray-300 {
    background-color: $tp-color__gray-300 !important;
}
