@import './node_modules/@thumbtack/thumbprint-tokens/dist/scss/_index';
@import './node_modules/@thumbtack/tp-ui-core-function/_index';
@import './node_modules/@thumbtack/tp-ui-core-mixin/_index';

.white {
    color: $tp-color__white !important;
}
.black {
    color: $tp-color__black !important;
}
.black-300 {
    color: $tp-color__black-300 !important;
}
.blue {
    color: $tp-color__blue !important;
}
.indigo {
    color: $tp-color__indigo !important;
}
.purple {
    color: $tp-color__purple !important;
}
.green {
    color: $tp-color__green !important;
}
.yellow {
    color: $tp-color__yellow !important;
}
.red {
    color: $tp-color__red !important;
}
.gray {
    color: $tp-color__gray !important;
}
.gray-200 {
    color: $tp-color__gray-200 !important;
}
.gray-300 {
    color: $tp-color__gray-300 !important;
}
.bg-white {
    background-color: $tp-color__white !important;
}
.bg-black {
    background-color: $tp-color__black !important;
}
.bg-black-300 {
    background-color: $tp-color__black-300 !important;
}
.bg-blue {
    background-color: $tp-color__blue !important;
}
.bg-indigo {
    background-color: $tp-color__indigo !important;
}
.bg-purple {
    background-color: $tp-color__purple !important;
}
.bg-green {
    background-color: $tp-color__green !important;
}
.bg-yellow {
    background-color: $tp-color__yellow !important;
}
.bg-red {
    background-color: $tp-color__red !important;
}
.bg-gray {
    background-color: $tp-color__gray !important;
}
.bg-gray-200 {
    background-color: $tp-color__gray-200 !important;
}
.bg-gray-300 {
    background-color: $tp-color__gray-300 !important;
}

@include tp-respond-above($tp-breakpoint__small) {
    .s\:white {
        color: $tp-color__white !important;
    }
    .s\:black {
        color: $tp-color__black !important;
    }
    .s\:black-300 {
        color: $tp-color__black-300 !important;
    }
    .s\:blue {
        color: $tp-color__blue !important;
    }
    .s\:indigo {
        color: $tp-color__indigo !important;
    }
    .s\:purple {
        color: $tp-color__purple !important;
    }
    .s\:green {
        color: $tp-color__green !important;
    }
    .s\:yellow {
        color: $tp-color__yellow !important;
    }
    .s\:red {
        color: $tp-color__red !important;
    }
    .s\:gray {
        color: $tp-color__gray !important;
    }
    .s\:gray-200 {
        color: $tp-color__gray-200 !important;
    }
    .s\:gray-300 {
        color: $tp-color__gray-300 !important;
    }
    .s\:bg-white {
        background-color: $tp-color__white !important;
    }
    .s\:bg-black {
        background-color: $tp-color__black !important;
    }
    .s\:bg-black-300 {
        background-color: $tp-color__black-300 !important;
    }
    .s\:bg-blue {
        background-color: $tp-color__blue !important;
    }
    .s\:bg-indigo {
        background-color: $tp-color__indigo !important;
    }
    .s\:bg-purple {
        background-color: $tp-color__purple !important;
    }
    .s\:bg-green {
        background-color: $tp-color__green !important;
    }
    .s\:bg-yellow {
        background-color: $tp-color__yellow !important;
    }
    .s\:bg-red {
        background-color: $tp-color__red !important;
    }
    .s\:bg-gray {
        background-color: $tp-color__gray !important;
    }
    .s\:bg-gray-200 {
        background-color: $tp-color__gray-200 !important;
    }
    .s\:bg-gray-300 {
        background-color: $tp-color__gray-300 !important;
    }
}

@include tp-respond-above($tp-breakpoint__medium) {
    .m\:white {
        color: $tp-color__white !important;
    }
    .m\:black {
        color: $tp-color__black !important;
    }
    .m\:black-300 {
        color: $tp-color__black-300 !important;
    }
    .m\:blue {
        color: $tp-color__blue !important;
    }
    .m\:indigo {
        color: $tp-color__indigo !important;
    }
    .m\:purple {
        color: $tp-color__purple !important;
    }
    .m\:green {
        color: $tp-color__green !important;
    }
    .m\:yellow {
        color: $tp-color__yellow !important;
    }
    .m\:red {
        color: $tp-color__red !important;
    }
    .m\:gray {
        color: $tp-color__gray !important;
    }
    .m\:gray-200 {
        color: $tp-color__gray-200 !important;
    }
    .m\:gray-300 {
        color: $tp-color__gray-300 !important;
    }
    .m\:bg-white {
        background-color: $tp-color__white !important;
    }
    .m\:bg-black {
        background-color: $tp-color__black !important;
    }
    .m\:bg-black-300 {
        background-color: $tp-color__black-300 !important;
    }
    .m\:bg-blue {
        background-color: $tp-color__blue !important;
    }
    .m\:bg-indigo {
        background-color: $tp-color__indigo !important;
    }
    .m\:bg-purple {
        background-color: $tp-color__purple !important;
    }
    .m\:bg-green {
        background-color: $tp-color__green !important;
    }
    .m\:bg-yellow {
        background-color: $tp-color__yellow !important;
    }
    .m\:bg-red {
        background-color: $tp-color__red !important;
    }
    .m\:bg-gray {
        background-color: $tp-color__gray !important;
    }
    .m\:bg-gray-200 {
        background-color: $tp-color__gray-200 !important;
    }
    .m\:bg-gray-300 {
        background-color: $tp-color__gray-300 !important;
    }
}

@include tp-respond-above($tp-breakpoint__large) {
    .l\:white {
        color: $tp-color__white !important;
    }
    .l\:black {
        color: $tp-color__black !important;
    }
    .l\:black-300 {
        color: $tp-color__black-300 !important;
    }
    .l\:blue {
        color: $tp-color__blue !important;
    }
    .l\:indigo {
        color: $tp-color__indigo !important;
    }
    .l\:purple {
        color: $tp-color__purple !important;
    }
    .l\:green {
        color: $tp-color__green !important;
    }
    .l\:yellow {
        color: $tp-color__yellow !important;
    }
    .l\:red {
        color: $tp-color__red !important;
    }
    .l\:gray {
        color: $tp-color__gray !important;
    }
    .l\:gray-200 {
        color: $tp-color__gray-200 !important;
    }
    .l\:gray-300 {
        color: $tp-color__gray-300 !important;
    }
    .l\:bg-white {
        background-color: $tp-color__white !important;
    }
    .l\:bg-black {
        background-color: $tp-color__black !important;
    }
    .l\:bg-black-300 {
        background-color: $tp-color__black-300 !important;
    }
    .l\:bg-blue {
        background-color: $tp-color__blue !important;
    }
    .l\:bg-indigo {
        background-color: $tp-color__indigo !important;
    }
    .l\:bg-purple {
        background-color: $tp-color__purple !important;
    }
    .l\:bg-green {
        background-color: $tp-color__green !important;
    }
    .l\:bg-yellow {
        background-color: $tp-color__yellow !important;
    }
    .l\:bg-red {
        background-color: $tp-color__red !important;
    }
    .l\:bg-gray {
        background-color: $tp-color__gray !important;
    }
    .l\:bg-gray-200 {
        background-color: $tp-color__gray-200 !important;
    }
    .l\:bg-gray-300 {
        background-color: $tp-color__gray-300 !important;
    }
}