@import './node_modules/@thumbtack/thumbprint-tokens/dist/scss/_index';
@import './node_modules/@thumbtack/tp-ui-core-function/_index';
@import './node_modules/@thumbtack/tp-ui-core-mixin/_index';

.h1 {
    height: 16px !important;
}
.h2 {
    height: 32px !important;
}
.h3 {
    height: 64px !important;
}
.h4 {
    height: 128px !important;
}
.h5 {
    height: 256px !important;
}

.h-0 {
    height: 0 !important;
}
.h-1\/4 {
    height: 25% !important;
}
.h-1\/2 {
    height: 50% !important;
}
.h-3\/4 {
    height: 75% !important;
}
.h-100 {
    height: 100% !important;
}

.min-h-100 {
    min-height: 100% !important;
}

.vh-1\/4 {
    height: 25vh !important;
}
.vh-1\/2 {
    height: 50vh !important;
}
.vh-3\/4 {
    height: 75vh !important;
}
.vh-100 {
    height: 100vh !important;
}

.min-vh-100 {
    min-height: 100vh !important;
}

/* String Properties */

.h-auto {
    height: auto !important;
}
.h-inherit {
    height: inherit !important;
}

@include tp-respond-above($tp-breakpoint__small) {
    .s\:h1 {
        height: 16px !important;
    }
    .s\:h2 {
        height: 32px !important;
    }
    .s\:h3 {
        height: 64px !important;
    }
    .s\:h4 {
        height: 128px !important;
    }
    .s\:h5 {
        height: 256px !important;
    }
    .s\:h-0 {
        height: 0 !important;
    }
    .s\:h-1\/4 {
        height: 25% !important;
    }
    .s\:h-1\/2 {
        height: 50% !important;
    }
    .s\:h-3\/4 {
        height: 75% !important;
    }
    .s\:h-100 {
        height: 100% !important;
    }
    .s\:min-h-100 {
        min-height: 100% !important;
    }
    .s\:vh-1\/4 {
        height: 25vh !important;
    }
    .s\:vh-1\/2 {
        height: 50vh !important;
    }
    .s\:vh-3\/4 {
        height: 75vh !important;
    }
    .s\:vh-100 {
        height: 100vh !important;
    }
    .s\:min-vh-100 {
        min-height: 100vh !important;
    }
    .s\:h-auto {
        height: auto !important;
    }
    .s\:h-inherit {
        height: inherit !important;
    }
}

@include tp-respond-above($tp-breakpoint__medium) {
    .m\:h1 {
        height: 16px !important;
    }
    .m\:h2 {
        height: 32px !important;
    }
    .m\:h3 {
        height: 64px !important;
    }
    .m\:h4 {
        height: 128px !important;
    }
    .m\:h5 {
        height: 256px !important;
    }
    .m\:h-0 {
        height: 0 !important;
    }
    .m\:h-1\/4 {
        height: 25% !important;
    }
    .m\:h-1\/2 {
        height: 50% !important;
    }
    .m\:h-3\/4 {
        height: 75% !important;
    }
    .m\:h-100 {
        height: 100% !important;
    }
    .m\:min-h-100 {
        min-height: 100% !important;
    }
    .m\:vh-1\/4 {
        height: 25vh !important;
    }
    .m\:vh-1\/2 {
        height: 50vh !important;
    }
    .m\:vh-3\/4 {
        height: 75vh !important;
    }
    .m\:vh-100 {
        height: 100vh !important;
    }
    .m\:min-vh-100 {
        min-height: 100vh !important;
    }
    .m\:h-auto {
        height: auto !important;
    }
    .m\:h-inherit {
        height: inherit !important;
    }
}

@include tp-respond-above($tp-breakpoint__large) {
    .l\:h1 {
        height: 16px !important;
    }
    .l\:h2 {
        height: 32px !important;
    }
    .l\:h3 {
        height: 64px !important;
    }
    .l\:h4 {
        height: 128px !important;
    }
    .l\:h5 {
        height: 256px !important;
    }
    .l\:h-0 {
        height: 0 !important;
    }
    .l\:h-1\/4 {
        height: 25% !important;
    }
    .l\:h-1\/2 {
        height: 50% !important;
    }
    .l\:h-3\/4 {
        height: 75% !important;
    }
    .l\:h-100 {
        height: 100% !important;
    }
    .l\:min-h-100 {
        min-height: 100% !important;
    }
    .l\:vh-1\/4 {
        height: 25vh !important;
    }
    .l\:vh-1\/2 {
        height: 50vh !important;
    }
    .l\:vh-3\/4 {
        height: 75vh !important;
    }
    .l\:vh-100 {
        height: 100vh !important;
    }
    .l\:min-vh-100 {
        min-height: 100vh !important;
    }
    .l\:h-auto {
        height: auto !important;
    }
    .l\:h-inherit {
        height: inherit !important;
    }
}
