.bg-center {
  background-repeat: no-repeat !important;
  background-position: center center !important; }

.bg-top {
  background-repeat: no-repeat !important;
  background-position: top center !important; }

.bg-right {
  background-repeat: no-repeat !important;
  background-position: center right !important; }

.bg-bottom {
  background-repeat: no-repeat !important;
  background-position: bottom center !important; }

.bg-left {
  background-repeat: no-repeat !important;
  background-position: center left !important; }

@media (min-width: 482px) {
  .s\:bg-center {
    background-repeat: no-repeat !important;
    background-position: center center !important; }
  .s\:bg-top {
    background-repeat: no-repeat !important;
    background-position: top center !important; }
  .s\:bg-right {
    background-repeat: no-repeat !important;
    background-position: center right !important; }
  .s\:bg-bottom {
    background-repeat: no-repeat !important;
    background-position: bottom center !important; }
  .s\:bg-left {
    background-repeat: no-repeat !important;
    background-position: center left !important; } }

@media (min-width: 701px) {
  .m\:bg-center {
    background-repeat: no-repeat !important;
    background-position: center center !important; }
  .m\:bg-top {
    background-repeat: no-repeat !important;
    background-position: top center !important; }
  .m\:bg-right {
    background-repeat: no-repeat !important;
    background-position: center right !important; }
  .m\:bg-bottom {
    background-repeat: no-repeat !important;
    background-position: bottom center !important; }
  .m\:bg-left {
    background-repeat: no-repeat !important;
    background-position: center left !important; } }

@media (min-width: 1026px) {
  .l\:bg-center {
    background-repeat: no-repeat !important;
    background-position: center center !important; }
  .l\:bg-top {
    background-repeat: no-repeat !important;
    background-position: top center !important; }
  .l\:bg-right {
    background-repeat: no-repeat !important;
    background-position: center right !important; }
  .l\:bg-bottom {
    background-repeat: no-repeat !important;
    background-position: bottom center !important; }
  .l\:bg-left {
    background-repeat: no-repeat !important;
    background-position: center left !important; } }
