/**
 * prism.js default theme for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 * @author Lea Verou
 */

code[class*="language-"],
pre {
	font-size: 13px;
	color: #2f3033;
	background: none;
	text-shadow: 0 1px white;
	font-family: "Source Code Pro", Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
	font-weight: 500;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
    line-height: 21px;

	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;

	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}


pre::-moz-selection, pre::-moz-selection,
code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection {
	text-shadow: none;
	background: #b3d4fc;
}

pre::selection, pre::selection,
code[class*="language-"]::selection, code[class*="language-"] ::selection {
	text-shadow: none;
	background: #b3d4fc;
}

@media print {
	code[class*="language-"],
	pre {
		text-shadow: none;
	}
}

/* Code blocks */
pre {
	padding: 16px;
	overflow: auto;
	border-radius: 3px;
}

:not(pre) > code[class*="language-"],
pre {
	background: #f7f8f9;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
	padding: .1em;
	border-radius: .3em;
	white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color:#91a2b0;
}

.token.punctuation {
	color: #999;
}

.namespace {
	opacity: .7;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
	color: #2d8cc7;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
	color: #025775;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
	color: #a16300;
}

.token.atrule,
.token.attr-value,
.token.keyword {
	color: #025775;
}

.token.function,
.token.class-name {
	color: #2d8cc7;
}

.token.regex,
.token.important,
.token.variable {
	color: #12581c;
}

.token.important,
.token.bold {
	font-weight: bold;
}
.token.italic {
	font-style: italic;
}

.token.entity {
	cursor: help;
}

// Line numbers
pre {
	position: relative;
	padding-left: 50px;

	&:before {
		content: '1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100';
		width: 18px;
		position: absolute;
		top: 16px;
		left: 16px;
		bottom: 16px;
		color: #ccc;
		white-space: pre-line;
		overflow: hidden;
        text-align: right;
	}
}
